footer.footer
	div.subscribe
		h4.subscribe-title УЗНАВАЙТЕ О ПОСТАВКАХ
		form.subscribe-form(action="")
			input.subscribe__input.subscribe__email(type="text" placeholder="Email" required="yes" name="email")
			input.subscribe__input(type="text" placeholder="Мобильный (необязательно)" name='tel')

			div.radio-group
				div.radio
					span.radio__box
						input.radio__input(type="radio" id="radio-1" name="subscribe")
						span.radio__circle
					label.radio__label(for="radio-1") Опт

				div.radio
					span.radio__box
						input.radio__input(type="radio" id="radio-2" name="subscribe" )
						span.radio__circle
					label.radio__label(for="radio-2") Розница

			button.subscribe-button(type="submit" disabled) Подписаться

	div.footer-items
		div.footer-item
			div.tabs-menu
				ul.tabs-menu__wrap
					li.tabs-menu__item.tabs-menu__item_selected(id="footer-tab-1")
						span.tabs-menu__link Склад
					li.tabs-menu__item(id="footer-tab-2")
						span.tabs-menu__link Магазин
			div.tabs-panes
				div.tabs-panes__pane.tabs-panes__pane_active(aria-labelledby="footer-tab-1")
					div.address
						div.address__line
							i.address__metro-icon
							| Позняки 1
						div.address__line
							| ул. Ларисы Руденко 6а, офис 819
						div.address__line
							| Киев, Украина

				div.tabs-panes__pane(aria-labelledby="footer-tab-2")
					div.address
						div.address__line
							i.address__metro-icon
							| Позняки 2
						div.address__line
							| ул. Ларисы Руденко 6а, офис 819
						div.address__line
							| Киев, Украина

			div.working-hours
				| Работаем по будням с 9 до 18.
				| Предупредите о визите заранее.
		div.footer-item
			h4.footer__title Контакты склада
			ul.contacts
				li.contacts__item
					span.contacts__name Городской
					span.contacts__value (044) 593-84-49
				li.contacts__item
					span.contacts__name МТС
					span.contacts__value (050) 351-21-23
				li.contacts__item
					span.contacts__name life:)
					span.contacts__value (063) 262-84-08
				li.contacts__item.contacts__item_gap_l
					span.contacts__name Киевстар
					span.contacts__value (067) 402-81-48
				li.contacts__item
					span.contacts__name Email
					span.contacts__value info@take.moda

		div.footer-item
			h4.footer__title О ТЭЙКЕ
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Каталог
				li.footer-menu__item
					a.footer-menu__link(href="#") Помощь
				li.footer-menu__item
					a.footer-menu__link(href="#") Контакты 
				li.footer-menu__item
					a.footer-menu__link(href="#") Карта сайта 

			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") О нас
				li.footer-menu__item
					a.footer-menu__link(href="#") Сотрудничество
				li.footer-menu__item
					a.footer-menu__link(href="#") Пронто мода
				li.footer-menu__item
					a.footer-menu__link(href="#") Скидки

		div.footer-item
			h4.footer__title БУДЬТЕ В КУРСЕ
			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Фейсбук
				li.footer-menu__item
					a.footer-menu__link(href="#") ВКонтакте
				li.footer-menu__item
					a.footer-menu__link(href="#") Инстаграм 

			ul.footer-menu
				li.footer-menu__item
					a.footer-menu__link(href="#") Новости
				li.footer-menu__item
					a.footer-menu__link(href="#") Блог

div.paranja

script(src="../components/jquery/dist/jquery.js")
script(src="../components/jquery-selectric/public/jquery.selectric.min.js")
script(src="../js/app.js")
