header.header
  div.header__wrap
    nav.menu
      div.menu-opener
      ul.menu-list
        li.menu-list__item
          a.menu-list__link(href="catalog.html") Каталог
        li.menu-list__item
          a.menu-list__link(href="help.html") Помощь
        li.menu-list__item
          a.menu-list__link(href="contacts.html") Контакты

    a.logo(href="/")
      img(src="../images/logo.svg")
        
    div.currency-toggle
      select.currency
        option(value="UAH" selected="") Украинская гривна
        option(value="USD") Доллар США
        option(value="RUB") Российский рубль
        option(value="EUR") Евро

    div.user-info
      block header__right
        a.btn.btn_type_btn.btn_size_s.btn-login(href="sign-in.html") Вход
        a.btn.btn_type_btn.btn_size_s.btn-register(href="registration.html") Регистрация

  div.menu-panel
    div.menu-panel__close-icon
    div.header-menu
      div.header-menu__name Каталог
      ul.header-menu__list
        li.header-menu__item.header-menu__item-submenu
          a.header-menu__link(href="#") Верхняя одежда
          i.header-menu__icon.header-menu__icon_up
          ul.header-menu__submenu
            li.header-menu__submenu-item
              a.header-menu__submenu-link.header-menu__submenu-link_selected(href="#") Все
            li.header-menu__submenu-item
              a.header-menu__submenu-link(href="#") Вязаный жакет
            li.header-menu__submenu-item
              a.header-menu__submenu-link(href="#") Кофта

        li.header-menu__item
          a.header-menu__link(href="#") Вязаная одежда
          i.header-menu__icon.header-menu__icon_down
        li.header-menu__item
          a.header-menu__link(href="#") Брюки и юбки
        li.header-menu__item
          a.header-menu__link(href="#") Аксессуары
        li.header-menu__item
          a.header-menu__link(href="#") Верхняя одежда
        li.header-menu__item
          a.header-menu__link(href="#") Футболки и топы
        li.header-menu__item
          a.header-menu__link(href="#") Сорочки и блузы

    ul.links-list
      li.links-list__item
        a.links-list__link(href="help.html")  Помощь

      li.links-list__item
        a.links-list__link(href="contacts.html")  Контакты

      li.links-list__item
        a.links-list__link(href="#")  О нас

      li.links-list__item
        a.links-list__link(href="#")  Сотрудничество

      li.links-list__item
        a.links-list__link(href="#")  Пронто мода

      li.links-list__item
        a.links-list__link(href="#")  Скидки

      li.links-list__item
        a.links-list__link(href="blog.html")  Блог

      li.links-list__item
        a.links-list__link(href="news.html")  Новости

    div.menu-panel__bottom
      block menu-panel-additional
        a.btn.btn_type_btn.btn_size_s.btn-login(href="#") Вход
        a.btn.btn_type_btn.btn_size_s.btn-register(href="registration.html") Регистрация
