header.header-plain
	div.header-plain__row
		block header-left
			div.header-plain__left
				a.btn.btn_type_link.btn-back(href="#") Вернуться
		a.logo(href="#")
			img(alt="" src="../images/logo_black.svg")
		block header-right
			div.header-plain__right
				div.registration__text У вас нет аккаунта?
				a.btn.btn_type_btn.btn_size_s.btn-register(href="#") Регистрация

	div.header-plain__row.header-plain__row_gap_s
		div.header-plain__title 
			block header-title 
				| Войти на сайт

	block customer
		| 
