* {
	box-sizing: border-box;
}

.container {
	max-width: 1312px;
	margin: auto;
	padding: 0 32px;

	&_full {
		max-width: 100%;
	}

	&_relative {
		position: relative;
	}

	&__wrap {
		display: inline-block;
		vertical-align: top;
  	width: ~"calc(100% - 350px)";

		border-right: 1px solid #f2f2f2;
	}

	&__column {
		display: inline-block;
		vertical-align: top;

		max-width: 480px;
  	padding-right: 50px;

		box-sizing: border-box;

  	white-space: normal;

  	width: ~"calc((100% - 80px)/2)";

		& + & {
			margin-left: 75px;
		}
	}
}

.title {
	font-family: 'AvenirNext-Regular', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 22px;

	color: #222222;

	&_size_l {
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	&_size_m {
		font-family: "AvenirNext-DemiBold", sans-serif;
		font-size: 18px;
		color: #333333;
		letter-spacing: 1px;

		margin-top: 38px;
	}

	&_gap_xs {
		margin-bottom: 10px;
	}

	&_gap_s {
		margin-bottom: 20px;
	}

	&_gap_l {
		margin-bottom: 46px;
	}

	&_gap_xl {
		margin-bottom: 60px;
	}

	&_center {
		text-align: center;
	}

	&_help {
		margin: 75px 0 90px;
	}
}

.other-question {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	padding-left: 30px;

	&__btn {
		display: block;
		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 12px;

		padding: 18px 0 16px 0;

		color: #FFFFFF;

		letter-spacing: 1px;

		background: #2B2B2B;

		border: 1px solid #DADADA;

		border-radius: 4px;

		text-decoration: none;
		text-transform: uppercase;

	  text-align: center;
	}

	.contacts {
		max-width: 200px;
		margin-bottom: 30px;
	}
}

.center {
	text-align: center;
}

.col {
	&__wrap {
		display: flex;
	}

	&_2 {
  	width: ~"calc((100% - 78px)/2)";
  	overflow: hidden;
	}

	&_2 + &_2 {
		margin-left: 78px;
	}

	&_4 {
		max-width: 260px;
	}

	&_4 + &_4 {
		margin-left: 73px;
	}
}

.map {
	max-width: 620px;
	max-height: 230px;
	margin-bottom: 35px;
}

.promo {
	position: relative;
	// 60px — header, 66px — promo text, 50px — margin bottom
	height: ~"calc(100vh - 50px - 66px - 60px)";
	margin-bottom: 50px;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__btn {
		position: absolute;
		left: 38px;
		top: 20px;

		height: 50px;
		padding: 18px 57px 15px 19px;

		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 14px;

		color: #FFFFFF;

		letter-spacing: 0.5px;

		cursor: pointer;

		&::after {
			content: '';

			position: absolute;
			right: 0;
			top: 0;
			width: 50px;
			height: 100%;

			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;

			background: rgba(0, 0, 0, .1) url(../images/triangle.svg) no-repeat 50% 50%;
		}

		&-date {
			display: inline-block;
			margin: 0 5px 0 10px;

			font-size: 14px;

			color: rgba(255, 255, 255, .7);
		}
	}
}

.promo2 {
	padding-bottom: 50px;

	text-align: center;

	border-bottom: 1px solid #ECECEC;

	&__item {
		display: inline-block;
		vertical-align: middle;
		width: 215px;

		font-size: 16px;

		color: rgba(0, 0, 0, .6);

		text-align: center;

		&_main {
			width: 400px;
			margin-right: 80px;
			margin-left: 80px;

			font-size: 26px;
			line-height: 30px;

			color: #000000;
		}
	}
}

.resently-showcase {
	padding: 30px 32px;

	&__title {
		margin-top: 0;
		margin-bottom: 30px;

		font-family: 'lucida_granderegular', sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;

		color: #B8B8B8;
	}

	&__wrap {
		margin-right: -32px;
		height: 150px;
		overflow-y: hidden;
	}

	&__list {
		white-space: nowrap;
		overflow: auto;
		padding-bottom: 20px;
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		width: 100px;
		height: 150px;

		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}

	&__img {
		max-width: 100px;
	}
}

.supply {
	padding: 54px 32px 50px;

	&__title {
		margin-bottom: 47px;

		font-size: 24px;
		line-height: .8;

		color: #222222;

		text-align: center;
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		max-width: ~"calc((100% - 40px)/4)";
		width: 304px;
		max-height: 456px;

		margin-left: 10px;

		&:first-child {
			margin-left: 10px;
		}

		img {
			max-width: 100%;
		}
	}

	&__list {
		margin-bottom: 30px;

		text-align: center;
	}

	&__text {
		width: 741px;
		margin: 0 auto 29px;

		font-size: 13px;

		color: #646464;

		text-align: center;
	}

	&__btn {
		text-align: center;
	}
}

.info {
	padding: 27px 60px 60px;
	border-bottom: 1px solid #E8E8E8;

	text-align: center;

	&__item {
		display: inline-block;
		vertical-align: top;

		max-width: ~"calc((100% - 45px)/4)";
		width: 296px;
		margin-left: 19px;

		text-align: center;

		&:first-child {
			margin-left: 0;
		}
	}

	&__title {
		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 14px;
		line-height: 24px;

		color: #000000;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;

		color: #313131;
	}

	&__list {
		margin-bottom: 36px;
	}

	&__btn {
		text-align: center;
	}
}

.checkout-payment,
.checkout-comments,
.bill-wrap,
.checkout-submit {
	display: none;
}

.checkout-title {
	font-size: 26px;
	color: #5DBD41;
	font-weight: 400;

	text-align: center;
}

.bill {
	&-wrap {
		padding: 27px 0 34px;
		background: #F6F6F6;
	}
	width: 400px;

	margin: auto;
	td {
		padding-top: 10px;
		font-size: 14px;
		color: #8C8C8C;
	}

	td + td {
		text-align: right;
	}

	&__total td {
		padding-top: 30px;

		font-size: 18px;

		color: #5DBD41;
	}
}

.post-info {
	display: none;
	margin-left: 40px;

	&__button {
		position: relative;
		padding: 7px 10px 6px 33px;
		border: 1px solid #E3E3E3;
		border-radius: 3px;
		font-size: 14px;
		color: #565656;

		text-decoration: none;

		&::before {
			content: '';

			position: absolute;
			top: 11px;
			left: 12px;
			width: 12px;
			height: 10px;

			background: url(../images/post-icon.svg) no-repeat;
		}

		span {
			color: #8C8C8C;
		}
	}

	.form__row {
		margin-bottom: 20px;
	}
}

.back-button {
	position: absolute;
	width: 26px;
	height: 26px;
	right: 30px;
	top: 30px;

	cursor: pointer;

	background: url(../images/clear.svg) no-repeat;
}

.back-to-bucket {
	display: block;
	margin-top: 30px;

	position: relative;

	font-family: "AvenirNext-Regular", sans-serif;
	font-size: 26px;
	color: rgba(51, 51, 51, .21);

	text-decoration: none;

	&:before {
		content: '';

		position: absolute;
		left: 50%;
		top: -12px;
		margin-left: -5px;
		width: 10px;
		height: 6px;

		background: url(../images/arrow-up.svg) no-repeat;
	}

	&:after {
		content: '';

		position: absolute;
		top: -24px;
		left: 50%;
		width: 10px;
		height: 6px;
		margin-left: -5px;

		background: url(../images/arrow-up.svg) no-repeat;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ' ';
}

.catalog-filters {
	padding: 0 32px;
	margin: 0 auto 32px;

	.search {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 176px;
		height: 24px;

		font-family: "AvenirNext-Medium", sans-serif;
		font-size: 9px;
		color: #8C8C8C;

		&__input {
			display: block;
			height: 100%;
			width: 100%;
			padding-left: 20px;

			border: 1px solid #F2F2F2;
		}
		&__submit {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;

			width: 17px;
			height: 100%;

			background: url(../images/search-icon.svg) no-repeat 50% 50%;

			border: 0;
		}
	}

}

.amount-list {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;

	&__item {
		display: inline-block;
		margin-left: 15px;

		font-family: "AvenirNext-Regular", sans-serif;
		font-size: 12px;

		color: #9a9a9a;

		text-decoration: none;

		&:first-child {
			margin-left: 0;
		}

		&_selected {
			color: #222;
		}
	}
}

.selectric-delivery-select,
.selectric-price-select {
	display: inline-block;
	vertical-align: middle;

	.selectric {
		font-family: "AvenirNext-Medium";
		font-size: 9px;
		color: #333333;
		letter-spacing: 1px;

		border: 1px solid #F2F2F2;
		background: #fff;

		text-transform: uppercase;

		.label {
			height: 24px;
			margin: 0 24px 0 8px;

			font-size: 9px;
			line-height: 24px;

			color: #333333;
		}

		.button {
			width: 24px;
			height: 24px;
		}
	}

	.selectric-items li {
		padding: 5px 10px;

		font-family: "AvenirNext-Medium", sans-serif;
		font-size: 9px;
		color: #333333;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.selectric-items {
		background: #fff;
	}
}

.delivery {
	margin-top: 44px;
}
