.breadcrumbs {
  	max-width: @max-width;
   	margin: 0;
    padding: 16px 32px 10px;

    border-bottom: 1px solid #F2F2F2;

	white-space: nowrap;
	overflow: scroll;

  	&::-webkit-scrollbar {
	  	display: none;
	}

	&__item {
		display: inline-block;
		vertical-align: top; 
		margin-right: 15px;

	  	font-family: 'AvenirNext-Medium', sans-serif;
		font-size: 9px;

		color: rgba(86, 86, 86, .8);

		letter-spacing: 1px;

		text-decoration: none;

		text-transform: uppercase;
	}

	&__link {
	  	display: inline-block;
		position: relative;
		padding-right: 17px;

		font-family: 'AvenirNext-Medium', sans-serif;
		font-size: 9px;

		color: rgba(86, 86, 86, .8);

		letter-spacing: 1px;

		text-decoration: none;

		text-transform: uppercase;

		&:after {
			content: '';

			position: absolute;
			top: 1px;
			right: 0;
			
			display: block;
			width: 5px;
			height: 8px;

			background: url(../images/arrow.svg);
		}
	}
}