.btn {
	display: inline-block;
	vertical-align: middle;

	text-decoration: none;

	&_type_link {
		position: relative;
		padding-left: 16px;

		font-family: AvenirNext-Medium;
		font-size: 12px;
		line-height: 1;

		color: #BABABA;

		cursor: pointer;

		&::before {
			content: '';

			position: absolute;
		}
	}

	&-back::before {
		left: 0;
		top: -1px;

		width: 8px;
		height: 13px;

		background: url(../images/back.svg) no-repeat;
	}

	&-delete::before {
		left: 0;
		top: 1px;

		width: 12px;
		height: 12px;

		background: url('../images/cross.svg') no-repeat;
	}

	&-login {
		margin-right: 18px;
		border: 1px solid rgba(255, 255, 255, .2);
		color: #F6F6F6;
	}
	&-register {
		background: #565656;
		color: #F6F6F6;
	}

	&_type_btn {
		font-family: AvenirNext-DemiBold;

		text-transform: uppercase;

		border-radius: 4px;
	}

	&_size {
		&_s {
			padding: 6px;
			font-size: 9px;

			letter-spacing: 1.5px;
		}

		&_m {
			font-size: 11px;
			padding: 14px 19px 11px;
		}

		&_l {
			padding-top: 18px;
			padding-bottom: 16px;
			font-size: 12px;
			letter-spacing: 0.85px;
		}

		&_full {
			width: 100%;
		}
	}

	&_theme_green {
		border: 0;
    color: #fff;
		background: @green;

		transition: background .15s;

		&:hover {
			background: @darkGreen;
		}
	}

	&_theme_white {
		width: 384px;
		padding-top: 17px;
		padding-bottom: 17px;

		border: 1px solid #ccc;

		font-family: AvenirNext-DemiBold;
		font-size: 12px;
		color: #222222;
		letter-spacing: 1px;

		transition: border-color .15s;

		&:hover {
			border-color: #333;
		}
	}

	&_spacing {
		&_m {
			letter-spacing: 0.92px;
		}

		&_l {
			letter-spacing: 0.5px;
		}
	}
}
