.catalog-menu {
  margin: 0 auto;
  padding: 0 32px;

  border-bottom: 1px solid #f2f2f2;

  &-title {
    font-family: "AvenirNext-DemiBold", sans-serif;
		font-size: 18px;
		color: #333333;
		letter-spacing: 1px;

		margin-top: 38px;
  }

  &__item {
  	display: inline-block;
  	margin-left: 34px;
  	padding: 10px 0 6px;

  	vertical-align: top;

  	border-bottom: 2px solid transparent;

    &:first-child {
      margin-left: 0;
    }

  	&_selected {
		  border-color: #565656;
  	}
  }

  &__link {
  	color: #565656;

    font-family: 'AvenirNext-Medium';
    font-size: 9px;

    letter-spacing: 1px;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.catalog {
	width: 642px;
	margin: auto;

	text-align: center;

	&__summary {
		position: relative;
		height: 32px;


		font-family: 'AvenirNext-Regular';
		font-size: 12px;

		color: #8C8C8C;

		overflow: hidden;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		text-align: left;

		&-icon{
			display: block;

			position: absolute;
			bottom: 0;
			right: 0;

			width: 9px;
			height: 5px;

			background: url("../images/down.svg") no-repeat;

			cursor: pointer;
		}
	}

	&__submenu {
		display: inline-block;
		vertical-align: top;

    margin-top: 20px;
    margin-bottom: 25px;
		padding-left: 0;

		list-style: none;

		& + & {
			margin-left: 40px;
		}

		&-item {
			margin-bottom: 0;
		}

		&-link {
			font-size: 12px;
			line-height: 1;
			color: #333;
			text-decoration: none;
		}
	}
}

.products {
	padding: 0 32px;
}

.products-item {
	position: relative;
	display: inline-block;
	vertical-align: top;

	max-width: 300px;
	margin-left: 32px;
	margin-bottom: 37px;

	figure {
		margin: 0;
	}

	&:nth-child(4n+1) {
		margin-left: 0;
	}

	&__img {
		width: 100%;
	  	object-fit: cover;
	}

	&__link {
		position: relative;
		display: inline-block;

		margin-bottom: 10px;

		&:hover {

			.products-item__params {
				visibility: visible;
				opacity: 1;

				pointer-events: auto;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		font-family: 'AvenirNext-Regular';
		font-size: 12px;
		line-height: 1.2;

		margin-right: 12px;

		color: #787878;
	}

	&__params {
		position: absolute;
		bottom: 0;

	  	width: 100%;

	  	padding: 10px 0;

		font-size: 12px;
		color: #bababa;

		background: #fff;

		visibility: hidden;
		opacity: 0;

		pointer-events: none;

		transition: opacity .15s, visibility .15s;
	}

	&__price {

		font-family: 'AvenirNext-Medium';
		font-size: 12px;
		line-height: 1.2;

		text-align: right;

		span {
			display: block;
		}

		&_old {
			color: #787878;
			text-decoration: line-through;
		}

		&_regular {
			color: #1E1E1E;
		}

		&_sale {
			color: #FF7744;
		}
	}

	&_sale {
		&:before {
			content: '';

			position: absolute;
			right: 0;
			top: 0;

			height: 8px;
			width: 8px;

			background: linear-gradient(45deg, transparent 50%, #FF7744 0);

			z-index: 2;
		}
	}
}

.colors {
	padding-left: 0;

	margin-bottom: 10px;

	li {
		position: relative;

		display: inline-block;
		vertical-align: top;

		margin-left: 5px;
		padding-left: 10px;

		font-size: 12px;
		color: #bababa;

		&:before {
			content: '.';

			position: absolute;
			left: 0;
			top: -2px;
			padding-right: 2px;
		}

		&:first-child {
			margin-left: 0;
			padding-left: 0;

			&:before {
				content: '';
			}
		}
	}
}

.sizes {
	padding-left: 0;

	li {
		position: relative;
		display: inline-block;
		vertical-align: top;

		margin-left: 3px;
		padding-left: 10px;

		font-size: 12px;
		color: #bababa;

		font-size: 12px;
		color: #bababa;

		&:before {
			content: '/';

			position: absolute;
			left: 0;
			top: 2px;
		}

		&:first-child {
			margin-left: 0;
			padding-left: 0;

			&:before {
				content: '';
			}
		}
	}
}
