.checkout {
	position: relative;
	max-width: @max-width;
	padding: 0 0 85px;

	background: #F6F6F6;

	&__wrap {
		width: 1024px;
		margin: auto;
	}

	&__panel {
		position: relative;

		&-left {
			position: absolute;
			top: 0;
			left: 0;
		}

		&-right {
			position: absolute;
			top: 0;
			right: 0;
		}

		&-center {
			text-align: center;
		}
	}

	&__list {
		margin-bottom: 45px;

		background: #fff;
		border-radius: 4px;
	}

	&__item {
		padding: 50px 30px 30px 60px;

		border-top: 1px solid #F4F4F4;

		overflow: hidden;

		&:first-child {
			border: 0;
		}
	}

	&__img,
	&__info,
	&__price,
	&__table,
	&__item-total-price {
		display: inline-block;
		vertical-align: top;
	}

	&__img {
		position: relative;
		max-width: 106px;
		margin-right: 35px;

		img {
			max-width: 100px;
		}
	}

	&__item_sale {
		.checkout__img:before {
			content: '';

		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 8px;
		    height: 8px;

		    z-index: 2;

		    background: rgba(0, 0, 0, 0) linear-gradient(45deg, transparent 50%, #f74 0px) repeat scroll 0 0;
		}
	}

	&__info {
		font-family: AvenirNext-Medium;

		width: 150px;
		margin-right: 105px;
	}

	&__name {
		font-family: "AvenirNext-Regular";
		margin-bottom: 25px;

		font-size: 14px;
		line-height: 1.3;

		color: #333333;
	}

	&__id {
		margin-bottom: 35px;

		font-size: 9px;
		letter-spacing: 1px;

		color: #8C8C8C;

		text-transform: uppercase;
	}

	&__price {
		width: 100px;
		margin-right: 60px;

		&_regular,
		&_old {
			margin-bottom: 5px;

			font-family: 'AvenirNext-Regular';

			font-size: 18px;

			color: #8C8C8C;
		}

		&_sale {
			color: #FF7744;
		}

		&_old {
			text-decoration: line-through;
		}
	}

	&__table {
		margin-right: 80px;

		td {
			padding-top: 26px;

			font-family: AvenirNext-Regular;

			font-size: 14px;

			color: #333333;

			vertical-align: middle;
		}

		tr:first-child {
			td {
				padding: 0;
			}
		}

		td:first-child {
			width: 150px;
			padding-right: 26px;
		}
	}

	&__input {
		margin: 0 20px 0 0;
		padding: 0 5px;
		width: 53px;
		height: 33px;

		border: 1px solid #E3E3E3;
		border-radius: 4px;

		font-family: AvenirNext-Regular;
		font-size: 12px;

		color: #333333;

		text-align: center;

		-moz-appearance:textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		   -webkit-appearance: none;
	    }
	}

	&__item-delete {
		display: inline-block;
		width: 10px;
		height: 10px;

		background: url('../images/cross_red.svg') no-repeat;
		background-size: cover;

		cursor: pointer;
	}

	&__item-total-price {
		font-family: AvenirNext-Regular;

		text-align: right;

		float: right;

		span {
			font-size: 14px;
			color: #BABABA;
		}

		.checkout__item-value {
			font-size: 18px;
			color: #333;
		}
	}

	&__summary {
		width: 222px;
		margin: auto;

		span {
			display: inline-block;
			margin-bottom: 5px;


			font-family: AvenirNext-Medium;
			font-size: 10px;
			color: #8C8C8C;
			letter-spacing: 0.83px;

			text-transform: uppercase;
		}
	}

	&__delivery {
		font-family: AvenirNext-Medium;
		font-size: 12px;

		color: #BABABA;
	}

	&__total-price {
		margin-bottom: 24px;
		font-size: 24px;

		color: #5DBD41;
	}

	&__submit {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;

		padding: 31px 0 34px;

		font-size: 18px;
		color: #FFFFFF;
		text-align: center;

		border: 0;


		background: rgba(93, 189, 65, .9);

	}
}
