.checkbox {
	position: relative;

	display: inline-block;

	& + & {
		margin-left: 40px;
	}

	&__box {
		position: absolute;

		height: 20px;
  	width: 20px;

		&:before {
			content: "";

			position: absolute;
			bottom: 0;
	    left: 0;
	    right: 0;
	    top: 0;

			border: 1px solid #DADADA;
			border-radius: 4px;

	    box-sizing: border-box;

	    height: 20px;
	    width: 20px;
		}
	}

	&__label {
		display: inline-block;
		vertical-align: middle;
  	margin-left: 30px;

		font-size: 16px;

		color: #333333;
	}

	&__input {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
    top: 0;

		border: medium none;

    height: 101%;
    width: 101%;

    opacity: 0;

    z-index: 4;

		&:checked + .checkbox__tick {
			opacity: 1;
			visibility: visible;
		}
	}

	&__tick {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		background: url('../images/tick.svg') no-repeat 50% 50% #5DBD41;

		transition: opacity .15s, visibility .15s;
		visibility: hidden;
		opacity: 0;

		pointer-events: none;

		border-radius: 4px;
	}
}
