.contact-form {
	width: 620px;
	margin: 60px 0;

	&__text {
		font-size: 14px;
		line-height: 1.2;

		margin-bottom: 25px;

		color: #8C8C8C;
	}

	&__input {
		width: 300px;
		padding: 16px;

		border: 1px solid #DADADA;
		border-radius: 4px;

		& + & {
			margin-left: 15px;
		}

		&::-moz-placeholder,
		&::-webkit-input-placeholder,
		&:-ms-input-placeholder {
			font-size: 14px;

			color: #BABABA;
		}
	}

	&__row {
		margin-bottom: 20px;
	}

	&__submit {
		width: 100%;
		padding: 18px 0 16px;

		background: #5DBD41;
		border-radius: 4px;
		
		font-family: AvenirNext-DemiBold;
		font-size: 12px;

		color: #fff;

		letter-spacing: 1px;
		text-transform: uppercase;

		border: 0;

		&:not([disabled]):hover {
			background: #4FA237;
		}

		&[disabled] {
			color: rgba(255, 255, 255, .5);
		}
	}

	&__textarea {
		width: 100%;
		padding: 16px;

		border: 1px solid #DADADA;
		border-radius: 4px;
	}
}