.currency-toggle {
  position: absolute;
  right: 200px;
  top: 10px;


  .ico {
    display: inline-block;
    vertical-align: middle;

    height: 11px;
    width: 16px;
    margin: 0 10px 0 0;
    background: url(../images/flags.png) no-repeat;

    border-radius: 2px;

    &-UAH {
      background-position: 0 -11px;
    }

    &-USD {
      background-position: -16px -11px;
    }

    &-RUB {
      background-position: -16px 0;
    }

    &-EUR {
      background-position: 0 0;
    }
  }

  .selectric {
    background: transparent;
    border-color: transparent;

    color: #fff;

    .label,
    .button {
      font-size: 10px;

      color: #fff;
      text-transform: uppercase;
    }
  }
  .selectric-items {
    min-width: 200px;
  }
  .selectric-items li {
    text-align: left;
  }
  .selectric .button {
    top: 18px;

    &:after {
      display: none;
    }
  }
}
