.error {
	width: 500px;
	margin: 75px auto;
	padding-top: 100px;

	background: url(../images/kitty.png) no-repeat;
	background-position: 50% 0;

	text-align: center;

	&__title {
		font-size: 26px;
		color: #333333;

		margin-bottom: 10px;
	}

	&__text {
		font-size: 16px;
		color: #8C8C8C;

		margin-bottom: 25px;
	}

	&__list {
		display: inline-block;
		vertical-align: top;
	
		list-style: none;

	  	padding-left: 0;

	  	&:first-child {
		  	margin-right: 40px;
		}
	}

	&__list-link {
		font-size: 14px;
		color: #333333;

		line-height: 34px;

		text-decoration: none;
	}
}