.faq {
	margin-bottom: 50px;

	&__title {
		font-family: AvenirNext-DemiBold;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;

		margin-bottom: 24px;

		color: #333333;

		letter-spacing: 1.5px;

		text-transform: uppercase;
	}

	&__list {
		padding: 0;

		list-style: none;
	}

	&__item {
		margin-bottom: 20px;

		cursor: pointer;

		&_open {
			
			.faq__question {
				font-weight: 600;
			}
		}
	}

	&__question {
		font-family: AvenirNext-Regular;
		font-size: 14px;

		color: #565656;
	}

	&__answer {
		display: none;
		margin-top: 20px;

		font-size: 12px;
		color: #333;

		transition: height .15s;
	}
}