@fontPath: '../fonts/';

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('@{fontPath}AvenirNext-Regular.eot');
  src: url('@{fontPath}AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{fontPath}AvenirNext-Regular.woff2') format('woff2'),
    url('@{fontPath}AvenirNext-Regular.woff') format('woff'),
    url('@{fontPath}AvenirNext-Regular.ttf') format('truetype'),
    url('@{fontPath}AvenirNext-Regular.svg') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('@{fontPath}AvenirNext-DemiBold.eot');
  src: url('@{fontPath}AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('@{fontPath}AvenirNext-DemiBold.woff2') format('woff2'),
    url('@{fontPath}AvenirNext-DemiBold.woff') format('woff'),
    url('@{fontPath}AvenirNext-DemiBold.ttf') format('truetype'),
    url('@{fontPath}AvenirNext-DemiBold.svg') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('@{fontPath}AvenirNext-Medium.eot');
  src: url('@{fontPath}AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
      url('@{fontPath}AvenirNext-Medium.woff2') format('woff2'),
      url('@{fontPath}AvenirNext-Medium.woff') format('woff'),
      url('@{fontPath}AvenirNext-Medium.ttf') format('truetype'),
      url('@{fontPath}AvenirNext-Medium.svg') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lucida_granderegular';
    src: url('@{fontPath}lucidagrande-webfont.woff2') format('woff2'),
         url('@{fontPath}lucidagrande-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
