.footer {
	padding: 48px 32px 77px;

	background: #F5F5F5;

	&__title {
		margin-top: 0;
		margin-bottom: 22px;

		font-family: 'AvenirNext-Medium';
		font-size: 12px;
		line-height: 24px;
		font-weight: 600;

		color: #333;

		letter-spacing: 1.5px;

		text-transform: uppercase;
	}

	&-item {
		display: inline-block;
		vertical-align: top;

		max-width: 260px;
		margin-left: 85px;

		&:first-child {
			margin-left: 0;
		}
	}

	&-menu {
		display: inline-block;
		vertical-align: top;
		padding: 0;
		margin: 0 0 0 65px;

		list-style: none;

		&:nth-of-type(1) {
			margin-left: 0;
		}

		&__item {
			margin-bottom: 11px;
		}

		&__link {
			font-family: AvenirNext-Regular;
			font-size: 14px;
			color: #8C8C8C;

			text-decoration: none;
		}
	}
}

.contacts {
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		display: flex;
  	justify-content: space-between;
		margin-bottom: 11px;

		&_gap_l {
			margin-bottom: 30px;
		}
	}

	&__name,
	&__value {
		font-family: AvenirNext-Regular;
		font-size: 14px;
		line-height: 24px;
	}

	&__name {
		margin-right: 15px;

		color: #8C8C8C;
	}

	&__value {
		color: #333;
	}
}

.address {
	margin-bottom: 50px;

	font-size: 14px;
	line-height: 36px;

	color: #333;

	&__metro-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		margin-right: 10px;

		background-color: #ccc;

		border-radius: 15px;

		&:after {
			content: '';

			position: absolute;
			top: 4px;
			left: 3px;

			width: 9px;
			height: 7px;

			background: url("../images/metro-icon.svg") no-repeat;
		}
	}
}

.working-hours {
	font-size: 14px;
	line-height: 22px;

	color: #333;
}

.paranja {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	z-index: -1;

	background: rgba(0, 0, 0, .4);

	visibility: hidden;
    opacity: 0;

    transition: visibility 0 .3s, opacity .3s ease-out;

    pointer-events: none;

	&_visible {
		z-index: 5;
		opacity: 1;
		visibility: visible;

		pointer-events: auto;

	}
}
