.form {
	padding-bottom: 146px;

	&_gap_s {
		padding-bottom: 20px;
	}

	&__title {
		margin-bottom: 21px;

		font-size: 26px;
		text-align: center;
	}

	&_empty {
		.form__submit {
			color: rgba(255, 255, 255, .5);
		}
	}

	&__row {
		position: relative;
		padding-top: 12px;
		margin-bottom: 28px;

		&_empty {
			.icon-eye {
				opacity: 0;
				visibility: hidden;
			}

			.form__label {
				opacity: 0;
				visibility: hidden;
			}

		}
	}

	&__row-wrap {
		.form__row {
			display: inline-block;
			vertical-align: top;
			width: 46%;
		}

		.form__row + .form__row {
			margin-left: 15px;
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 8px 0;

		border: 0;

		border-bottom: 1px solid #DADADA;
		transition: border-color .15s;

		&:focus {
			outline: 0;
			border-bottom-color: #000;
		}

		&::-moz-placeholder,
		&::-webkit-input-placeholder,
		&:-ms-input-placeholder {
			font-size: 16px;

			color: #BABABA;
		}
	}

	&__label {
		font-family: "AvenirNext-Regular", sans-serif;
		font-size: 12px;

		position: absolute;
		top: 0;
		left: 0;

		color: #8C8C8C;

		transition: opacity .15s, visibility .15s;
	}

	&__submit {
		font-family: 'AvenirNext-Regular';
		font-size: 18px;
		font-weight: 500;

		position: absolute;
		bottom: 0;
		left:0;
		right: 0;

		width: 100vw;
		padding: 33px 0;

		border: 0;

		color: #fff;

		background: #5DBD41;

		transition: color .15s;
	}

	.icon-eye {
		position: absolute;
		right: 0;
		top: 16px;

		width: 22px;
		height: 13px;

		background: url(../images/icon-eye.svg) no-repeat;

		transition: opacity .1s, visibility .1s;
	}

	&__subtitle {
		font-family: AvenirNext-Medium;
		font-size: 16px;

		color: #333333;

		margin: 56px 0 23px;
	}

	&__subscription {
		padding-top: 27px;
		padding-bottom: 30px;
		border: 1px dashed #E3E3E3;
		border-radius: 4px;

		text-align: center;

		p {
			font-size: 16px;
			color: #000000;
			margin-top: 0;
			margin-bottom: 4px;
		}

		.gray {
			font-size: 14px;
			color: #8C8C8C;

			margin-bottom: 14px;
		}
	}
}

.registration-form,
.checkout-form {
	position: relative;
	margin-top: 35px;

	.form,
	.form__wrap{
		width: 400px;
		margin: auto;
	}
}

.registration-form {
	&_hidden {
		display: none;
	}
}

.checkout-submit {
	position: relative;
}
