body {
	position: relative;

	font-family: 'AvenirNext-Regular', sans-serif;
}

.header {
	height: 60px;
	padding-left: 32px;
	padding-right: 38px;

	background: #2B2B2B;

	&__wrap {
		position: relative;
		text-align: center;

		height: 60px;
	}
}

.menu-opener
{
	display: inline-block;
	vertical-align: middle;

	width: 17px;
	height: 14px;
	margin-right: 40px;

	background: url('../images/menu.svg') no-repeat;

	cursor: pointer;
}

.menu {
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	top: 50%;
}

.user-info {
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	top: 50%;
}

.menu-list
{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;

	&__item {
		display: inline-block;
		vertical-align: middle;

		margin-left: 38px;

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 9px;
		color: #F6F6F6;
		letter-spacing: 1.5px;

		text-transform: uppercase;
		text-decoration: none;
	}
}

.header-menu {
	border-bottom: 1px solid rgba(255, 255, 255, .15);

	&__name {
		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 10px;
		letter-spacing: 1.5px;

		color: #FFFFFF;

		text-transform: uppercase;
	}

	&__item {
		position: relative;
		margin-bottom: 10px;
	}

	&__item-submenu {
		.header-menu__submenu {
			display: none;
		}

		.header-menu__icon {
			background-image: url(../images/icon-down.svg);
		}

		&_open {
			.header-menu__submenu {
				display: block;
			}

			.header-menu__icon {
				background-image: url(../images/up.svg);
			}
		}
	}

	&__icon {
		position: absolute;
		right: 0;
		top: 9px;

		height: 7px;
		width: 9px;

		background-repeat: no-repeat;
	}

	&__link {
		font-size: 13px;
		color: #fff;

		text-decoration: none;
	}

	&__list {
		list-style: none;

		padding-left: 0;
	}

	&__submenu {
		padding-left: 10px;

		list-style: none;
	}

	&__submenu-link {
		text-decoration: none;
		color: #fff;

		font-size: 12px;

		&_selected {
			font-family: 'AvenirNext-DemiBold', sans-serif;
		}
	}
}

.links-list {
	padding: 0;
	margin-top: 30px;

	list-style: none;

	&__item {
		margin-bottom: 20px;
	}

	&__link {
		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 10px;
		letter-spacing: 1.5px;

		color: #FFFFFF;

		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			opacity: .8;
		}
	}
}

.user-info {
	&__profile,
	&__basket {
		display: inline-block;
		vertical-align: baseline;

		font-family: AvenirNext-DemiBold;
		font-size: 9px;
		line-height: 10px;

		letter-spacing: 1.5px;

		color: #BABABA;

		text-decoration: none;
		text-transform: uppercase;
	}

	&__basket {
		margin-left: 31px;
	}

	&__basket-number {
		display: inline-block;
		vertical-align: baseline;

		padding: 2px 2px 1px 3px;
		margin-left: 5px;


		font-family: AvenirNext-DemiBold;
		font-size: 9px;

		background: #565656;

		color: #BABABA;

		text-align: center;

		border-radius: 2px;
	}

	&__basket-number_full {
		background: #5DBD41;

		color: #fff;
	}
}
