.header-plain {
	padding: 20px 32px 24px;

	background: #f6f6f6;

	box-sizing: border-box;

	&_big {
		padding-bottom: 37px;
	}

	&_gap_s {
		padding-bottom: 15px;
	}

	&_full {
		height: 100vh;
	}

	&__row {
		position: relative;

		text-align: center;
	}

	&__row + &__row {
		margin-top: 35px;
	}

	&__row + &__row_gap_s {
		margin-top: 27px;
	}

	&__title {
		font-family: "AvenirNext-Regular", sans-serif;
		font-size: 26px;

		color: #333333;
	}

	&__left {
		position: absolute;
		left: 0;
	  	top: 4px;
	}

	&__right {
		position: absolute;
		right: 0;
		top: 4px;
	}

	.registration {
		&__text {
			font-family: 'AvenirNext-Medium', sans-serif;
			font-size: 12px;

			display: inline-block;
    		margin-right: 10px;
    		vertical-align: middle;

			color: #BABABA;
		}
	}

	.btn-login {
		color: #8c8c8c;

		border-color: #ccc;
	  	margin-right: 0;
	}

	.logo {
		line-height: 1;
		margin-top: 0;

		img {
			opacity: 1;
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;

	img {
		opacity: .25;
	}
}

.customers {
	&__row {
		margin-bottom: 20px;
	}
}

.customer {
	display: inline-block;
	width: 400px;
	max-width: 400px;
	padding: 16px 23px;

	border: 1px solid #E3E3E3;

	text-align: left;

	border-radius: 3px;

	&_active {
		border: 1px solid #5DBD41;
	}

	span {
		font-size: 14px;

		color: #8C8C8C;
	}

	.radio__label {
		font-size: 16px;
	}

	.radio__box {
		top: 50%;
		margin-top: -10px;
	}
}
