@media (max-width: 1320px) {
    .products {
        width: auto;

        &-item {
            max-width: ~"calc((100% - 4*32px)/4)";
        }
    }

    .product-slider__image {
        width: 400px;
    }

    .subscribe__input {
        margin-right: 30px;
    }

    .subscribe .radio {
        margin-left: 40px;
    }

    .subscribe-button {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1280px) {
  .footer-item {
    width: ~"calc((100% - 3 * 65px)/4)";
    margin-left: 60px;
  }

  .footer-menu {
    margin-left: 25px;
  }

  .subscribe {
    &__input {
      width: 200px;
    }
  }
}

@media (max-width: 1130px) {
  .footer-item {
    width: ~"calc((100% - 3 * 35px)/4)";
    margin-left: 30px;
  }
  .catalog-menu {
    &__item {
      margin-left: 20px;
    }
  }
}

@media (max-width: 1030px) {
  .footer-menu {
    display: block;
    margin-left: 0;
  }
  .checkout {
    &__wrap {
      width: 100%;
    }

    &__panel {
      padding: 0 32px;
    }
  }
  .subscribe__input {
      width: 250px;
  }
  .subscribe-button {
      padding-left: 60px;
      padding-right: 60px;
  }
  .currency-toggle {
    right: 170px;
  }
}

@media (max-width: 950px) {
  .currency-toggle {
    display: none;
  }

  .container {
    width: 100%;

    &__wrap {
      width: 100%;

      border: 0;
    }
  }

  .other-question {
      display: block;
      padding-left: 0;
      margin-bottom: 20px;
  }

  .posts-list {
      &__item {
          width: ~"calc((100% - 3 * 30px)/3)";

          &:nth-child(4n) {
              margin-right: 30px;
          }

          &:nth-child(3n) {
              margin-right: 0;
          }
      }
  }
}

@media (max-width: 768px) {
    .header,
    .header-singin
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-opener {
        margin-right: 20px;
    }

    .container__column {
        display: block;
        width: 100%;
        padding-right: 0;

        & + & {
            margin-left: 0;
        }
    }

    .promo {
        margin-bottom: 0;

        &__btn {
            display: none;
        }
    }

    .promo2 {
        display: flex;
        flex-direction: column;

        padding: 40px 32px;

        &__item {
            width: auto;
            padding: 0 45px;
            margin-bottom: 24px;

            order: 1;
        }

        &__item_main {
            width: auto;
            margin: 0 0 24px 0;
            padding: 0 10px;

            order: 0;

            font-size: 20px;
        }
    }

    .supply {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;

        overflow: hidden;

        &__text,
        .btn {
            width: 100%;
        }

        &__list {
            white-space: nowrap;
            overflow: hidden;
        }

        &__item {
          max-width: 50%;
          width: 50%;
        }

        &__title {
            font-size: 20px;

            margin-bottom: 40px;
        }
    }

    .subscribe {
        &_theme_gray {
            padding: 40px 32px;

          .subscribe-title {
              font-size: 20px;
          }

          .subscribe-subtitle {
              margin-bottom: 35px;
          }

          .subscribe-form {
              flex-direction: column;
          }

          .subscribe__input {
              margin-bottom: 30px;
          }

          .radio-groups {
              margin-bottom: 40px;
          }

          .subscribe-button {
              width: 100%;
          }
        }
    }

    .info {
      padding: 40px 32px;

      &__item {
        display: block;
        max-width: 100%;
        margin: auto;

        &:first-child {
          margin-left: auto;
        }
      }

      .btn_theme_white {
        width: 100%;
      }
    }

    .resently-showcase {
      display: none;
    }

    .footer {
      padding-bottom: 40px;

      .subscribe {
        display: none;
      }

      .footer-item {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
      }

      .footer-menu {
        display: inline-block;
        margin-right: 30px;
      }
    }

    .catalog {
        width: auto;

        &__submenu {
            display: none;
        }
    }

    .catalog-menu {
        white-space: nowrap;

        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            margin-right: 18px;
        }
    }

    .products {
        &-item {
            max-width: ~'calc((100% - 25px)/2)';
            margin-left: 20px;

            &:nth-child(2n+1) {
                margin-left: 0;
            }

            &__info {
                display: block;
            }

            &__name {
                margin-bottom: 10px;
                height: 28px;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                text-overflow: ellipsis;
            }

            &__price {
                text-align: left;

                span {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }

    .pager {
        &__pages {
            padding: 0 100px;
        }
    }

    .post {
        &__wrap {
            width: 100%;
        }

        &__img {
            max-width: 100%;
        }

        &__media {
            margin: 50px -32px;
        }
    }

    .posts-list {
        &__item {
            width: ~"calc((100% - 2*30px)/2)";

            &:nth-child(3n) {
                margin-right: 30px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .col {
        &__wrap {
            display: block;
        }

        &_2 {
            width: 100%;

            & + & {
                margin-left: 0;
            }

            img {
                max-width: 100%;
            }
        }

        &_4 {
            margin-bottom: 20px;

            & + & {
                margin-left: 0;
            }
        }
    }

    .product-slider {
        margin-right: -32px;

        &__preview {
            width: 100%;
            overflow: scroll;
            white-space: nowrap;
            margin-right: 0;
        }

        &__preview-img {
            display: inline-block;
            margin-right: 10px;
        }

        &__image {
            width: 100%;
            padding-right: 32px;

            img {
                max-width: 100%;
            }
        }
    }

    .product-details {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;

        &__params {
            margin-left: -32px;
            margin-right: -32px;

            padding: 5px;
        }
    }
}

@media (max-width: 700px) {
    .user-info {
        display: none;
    }

    .header__wrap {
        text-align: left;
    }

    .menu {
        position: static;
        margin-top: 10px;

        display: inline-block;
        vertical-align: middle;

        transform: none;
    }

    .menu-list {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &__item {
            margin-left: 20px;

            &:nth-child(2) {
                display: none;
            }
        }
    }

    .form {
        padding-bottom: 40px;
    }

    .registration-form .form {
        padding-bottom: 146px;
    }

    .contact-form {
        width: 100%;

        &__input {
            width: 100%;
            margin-bottom: 20px;

            & + & {
                margin-left: 0;
            }
        }
    }
  .subscribe {
    .radio-group {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 550px) {
    .error {
        width: auto;
    }

    .posts-list {
        &__item {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    .sign-in{
        &__wrap {
            width: 100%;
            padding: 0 20px 30px;
        }
    }

    .header-singin .registration__text {
        display: none;
    }

    .customer {
        width: 100%;
    }

    .registration-form .form {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .recovery-success__wrap {
        width: 100%;
        padding: 20px;
        margin-left: 0;
        left: auto;
    }

    .sign-in {
        min-height: ~"calc(100vh - 205px)";

        &_gap_l {
            min-height: 100vh;
        }
    }

    .post__quote {
        margin: 50px 0;
    }
}

@media (max-width: 400px) {
    .footer-menu {
        margin-left: 45px;
    }

    .other-question {
        width: 100%;
    }

    .checkout {
        &__panel {

        }
    }
}
