.menu-panel {
	padding: 32px;

	position: fixed;
	top: 0;
	left: -220px;
	bottom: 0;

	z-index: 10;

	width: 220px;

	background: #2B2B2B;

	box-sizing: border-box;

	transition: .3s transform;

	overflow-y: auto;

	&_open {
		transform: translateX(220px);
	}

	&__close-icon {
		position: absolute;
		top: 25px;
		right: 23px;

		width: 12px;
		height: 12px;

		background: url('../images/close.svg') no-repeat;

		cursor: pointer;
	}

	&__bottom {
		position: absolute;
		left: 32px;
	}

}
