.pager {
	position: relative;
	margin: 0 32px;
	margin-bottom: 44px;

	text-align: center;

	&__pages {
		font-family: "AvenirNext-Medium";
		font-size: 16px;

		color: #222222;
	}

	&__back {
		left: 0;

		padding-left: 16px;

		&::before {
			content: '';

			position: absolute;
			left: 0;
			top: -1px;

			width: 8px;
			height: 13px;

			background: url(../images/back.svg) no-repeat;

		}
	}

	&__next,
	&__back {
		position: absolute;
		top: 0;

		font-family: AvenirNext-Medium;
		font-size: 12px;
		color: #787878;

		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;

		&_hidden {
			display: none;
		}
	}

	&__next {
		right: 0;

		padding-right: 16px;

	&::after {
		content: '';

		position: absolute;
		right: 0;
		top: -1px;

		width: 8px;
		height: 13px;

		background: url(../images/next.svg) no-repeat;

		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		margin-left: 36px;

		font-family: "AvenirNext-Medium";
		font-size: 16px;

		color: #8B8B8B;

		text-decoration: none;

		&:first-child {
			margin-left: 0;
		}

		&_current {
			color: #222222;
		}
	}
}
