.posts-list {

	padding-left: 0;

	&__item {
		display: inline-block;
		vertical-align: top;

		width: ~"calc((100% - 4 * 30px)/4)";
		margin-right: 30px;
		margin-bottom: 50px;

	  	&:nth-child(4n) {
		  	margin-right: 0;
		}
	}

	&__link {
		display: inline-block;

		text-decoration: none;
	}

	&__time {
		font-size: 12px;

		margin-bottom: 10px;

		color: #8C8C8C;
	}

	&__img {
		display: inline-block;
		margin-bottom: 15px;

		width: 100%;
		height: auto;
		object-fit: contain;
	}

	&__title {
		font-size: 16px;
		font-weight: 600;

		margin: 0;

		color: #333;
	}

	&__text {
		font-size: 12px;
		line-height: 14px;

		margin-top: 15px;

		color: #787878;
	}
}