.post {

	padding-bottom: 106px;

	&__wrap {
		width: 700px;
		margin: auto;
	}	

	&__media {
		margin: 50px -50px;
	}

	&__summary {
		font-family: AvenirNext-Regular;
		font-size: 18px;
		line-height: 28px;

		color: #8C8C8C;
	}

	&__subtitle {
		font-family: AvenirNext-Regular;
		font-size: 24px;

		margin-bottom: 26px;

		color: #333333;
	}

	&__text {
		font-family: AvenirNext-Regular;
		font-size: 16px;
		line-height: 26px;

		color: #333333;
	}

	&__figure {
		margin: 0;
	}

	&__img-caption {
		display: block;
		margin-top: 18px;

		font-size: 12px;

		color: #8C8C8C;

		text-align: center;
	}

	&__banner {
		margin: 40px -32px;
	}

	&__banner-img {
		width: 100%;
	}

	&__info {
		font-size: 13px;
		line-height: 23px;

		color: #8C8C8C;
	}

	&__info-item {
		display: inline-block;
		vertical-align: top;

		position: relative;
		margin-right: 10px;

		& + &::before {
			content: '.';

			position: absolute;
			left: 0;
			top: -3px;
			display: block;
		}

		& + & {
			padding-left: 13px;
		}
	}

	&__quote {
		font-size: 24px;
		line-height: 32px;

		color: #8C8C8C;

		margin: 50px;
	}

	&__list {
		padding-left: 15px;

		li {
			margin-bottom: 20px;
		}
	} 
}