.product-slider {
	display: inline-block;
	vertical-align: top;

	padding-top: 30px;

	&__preview {
		display: inline-block;
		vertical-align: top;

		width: 100px;
		margin-right: 30px;

		&-img {
			display: block;
			max-width: 100%;

			margin-bottom: 20px;
		}
	}

	&__image {
		display: inline-block;
		vertical-align: top;

		width: 650px;
		overflow-y: auto;
	}

	&__preview-color-label {
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 9px 20px 8px;

		font-family: "AvenirNext-Regular";
		font-size: 14px;

		color: #9D9D9D;

		border: 1px solid #CCCCCC;
		border-radius: 4px;
	}

	&__preview-big-wrap {
		position: relative;
	}

	&__preview-big-img {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 30px;
	}
}

.product-details {
	position: absolute;
	top: 30px;
	left: 820px;
	display: inline-block;
	vertical-align: top;

	width: 460px;
	margin-left: 36px;



	&_fixed {
		top: 140px;
		position: fixed;

		&.product-details_scroll {
			top: 30px;
		}
	}

	&__id {
		margin-bottom: 10px;

		font-family: AvenirNext-Medium;
		font-size: 9px;

		color: #C0C0C0;

		letter-spacing: 1px;

		text-transform: uppercase;
	}

	&__name {
		margin-bottom: 10px;

		font-family: "AvenirNext-Medium";
		font-size: 24px;
		line-height: 28px;

		color: #333333;
	}

	&__price {
		font-size: 18px;
		color: #333333;

		margin-bottom: 20px;
	}

	&__params {
		display: inline-block;
		padding: 20px;
		margin-bottom: 30px;

		background: #F6F6F6;
		border-radius: 4px;
	}

	&__login-label {
		padding: 25px 30px;
		margin-bottom: 50px;

		font-size: 14px;
		color: #565656;

		background: #fff1ec;
		border-radius: 5px;

		a {
			color: #ff7c44;
			text-decoration: none;
		}
	}

	th {
		 font-weight: 400;
	}

	th, td {
		padding: 10px;

		font-size: 14px;

		color: #333333;
	}

	th&__table-name {
		font-size: 12px;

		color: #333;
		color: rgba(51, 51, 51, .5);

		text-align: left;
	}

	&__input {
		width: 52px;
		height: 32px;
		padding: 2px;

		border-radius: 4px;

		border: 1px solid transparent;

		text-align: center;

		-moz-appearance:textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		}

		&:focus {
			border-color: #5DBD41;

			outline: 0;
		}
	}

	&__delivery-info {
		display: inline-block;
		vertical-align: middle;

		font-size: 12px;
		color: #BABABA;
	}

	&__delivery-icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		width: 14px;
		height: 13px;

		background: url(../images/delivery-icon.svg) no-repeat;

	}

	&__row {
		margin-bottom: 56px;
	}

	&__sizes {
		padding: 11px 12px 9px;

		background: #F6F6F6;
		border-radius: 4px;


		font-family: "AvenirNext-DemiBold";
		font-size: 10px;

		color: #333333;

		letter-spacing: 0.83px;
		text-decoration: none;
	}

	.tabs-menu__wrap {
		padding-bottom: 20px;
	}

	.tabs-menu__item_selected {
		border: 0;

		.tabs-menu__link {
			color: #333;
		}
	}

	.tabs-menu__link {
		font-family: "AvenirNext-Medium";
		text-transform: inherit;

		color: #bababa;
		font-size: 14px;
	}

	.tabs-panes p,
	.tabs-panes ul {
		font-size: 12px;

		color: #565656;
	}

	.tabs-panes p {
		margin-top: 0;
	}

	.tabs-panes ul {
		padding-left: 12px;
	}

	.tabs-panes {
		margin-bottom: 30px;
	}
}

.checkout-btn {
		display: inline-block;
		vertical-align: middle;
		width: 214px;
		padding: 18px 19px 16px 11px;
		margin-right: 30px;

		font-family: AvenirNext-DemiBold;
		font-size: 12px;

		color: #FFFFFF;

		letter-spacing: 0.85px;

		text-transform: uppercase;
		text-align:center;

		background: #5DBD41;
		border: 0;
		border-radius: 4px;

		&-wrap {
			span {
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-price {
			width: 60px;
			margin-right: 10px;

			overflow: hidden;
    		white-space: nowrap;
    		text-overflow: ellipsis;
		}

		&-vol {
		    width: 23px;
    		height: 23px;
    		margin-right: 10px;

			font-family: AvenirNext-DemiBold;
			font-size: 12px;

			color: #FFFFFF;

			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, .5);

			text-align: center;
			line-height: 23px;
		}

		&-text {
			display: none;
		}

		&_empty {
			.checkout-btn-wrap {
				display: none;
			}

			.checkout-btn-text {
				display: block;
			}
		}
	}
