.radio {
	position: relative;
	display: inline-block;
	margin-left: 80px;

	&:first-child {
		margin-left: 0;
	}

	&_checked {
		.radio__circle {
			opacity: 1;
			visibility: visible;
		}
	}

	&_theme_green&_checked {
		.radio__circle {
			background: #5DBD41;
		}

		.radio__box::before {
			border-color: #5DBD41;
		}
	}

	&__box {
		position: absolute;
		top: 0;
		width: 20px;
    height: 20px;

		&::before {
			content: "";

			position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;

	    width: 20px;
	    height: 20px;

	    border-radius: 50%;

	    border: 1px solid #dadada;
		}

	}

	&__input {
		position: absolute;
		left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;

		width: 101%;
    height: 101%;

    opacity: 0;

		z-index: 4;

		border: 0;
	}

	&__circle {
		position: absolute;
    left: 3px;
    top: 3px;

		width: 16px;
    height: 16px;

    border-radius: 50%;

		background: #bababa;

		transition: opacity .15s, visibility .15s;
  	visibility: hidden;
  	opacity: 0;

  	pointer-events: none;
	}

	&__label {
		display: inline-block;
		margin-left: 30px;

		font-family: "AvenirNext-Regular";
		font-size: 14px;
		line-height: 20px;

		text-align: left;

		color: #333333;

		span {
			display: block;

		}
	}
}

.radio-item {
	padding: 16px 43px 16px 21px;
	margin-bottom: 22px;
	outline: 1px solid #E3E3E3;
	border-radius: 3px;

	&_selected {
		outline: 2px solid #5DBD41;
	}

	.radio__label {
		display: inline-block;
		margin-left: 38px;
		font-size: 16px;
		color: #333;

		span {
			font-size: 14px;
			color: #8C8C8C;
		}
	}

	.radio__box {
		top: 50%;
		margin-top: -10px;
	}
}
