.sign-in {
	position: relative;
	padding-top: 40px;
  min-height: ~"calc(100vh - 155px)";

	&__wrap {
		width: 400px;
		margin: auto;
		padding-bottom: 86px;
	}

	&_full {
		height: 100vh;
	}
}

.recovery-box {
	display: flex;
    justify-content: space-between;
    align-items: center;

	padding: 21px;
	margin-bottom: 60px;

	border: 1px dashed #DADADA;
	border-radius: 4px;


	&__text {
		font-family: AvenirNext-Regular;
		font-size: 16px;

		display: inline-block;
		margin-right: 65px;
		vertical-align: middle;

		color: #8C8C8C;
	}

	&__btn {
		display: inline-block;
		vertical-align: middle;

		padding: 14px 20px;

		border: 1px solid #DADADA;
		border-radius: 4px;

		text-decoration: none;

		font-family: AvenirNext-Regular;
		font-size: 16px;

		color: #565656;
	}
}

.add-address {
	margin-top: 58px;
	margin-bottom: 60px;

	&__btn {
		font-size: 16px;
		color: #5DBD41;

		border: 1px solid #5DBD41;
		text-align: center;

		border-radius: 4px;
		padding: 16px 0 15px;

		cursor: pointer;

		&_hidden {
			display: none;
		}
	}

	&__title-row {
		display: flex;
		justify-content: space-between;

		margin-bottom: 50px;
	}

	.form__subtitle {
		margin: 0;
	}

	&__close {
		font-size: 16px;
		color: #FF7744;
		cursor: pointer;
	}

	&__box_hidden {
		display: none;
	}
}
