.subscribe {
	margin-bottom: 80px;

	&-form {
		display: flex;
		align-items: center;

		.radio-group {
			margin-right: 105px;
		}
	}

	&-title {
		margin-top: 0;
		margin-bottom: 12px;

		font-family: "AvenirNext-DemiBold";
		font-size: 12px;

		color: #222222;

		letter-spacing: 1.5px;

		line-height: 24px;

		text-transform: uppercase;
	}

	&-button {
		display: inline-block;
		padding: 18px 111px 16px;

		font-family: 'AvenirNext-DemiBold', sans-serif;
		font-size: 12px;
		letter-spacing: 1px;

		color: #BABABA;

		border-radius: 4px;

		border: 1px solid #DADADA;

		text-decoration: none;
  	text-transform: uppercase;

  	transition: color .15s, background-color .15s;

  	background: transparent;

		&_active {
			color: #FFFFFF;

			background-color: #222222;

			&:hover {
				background-color: rgba(34, 34, 34, .8);
			}
		}
	}

	&__input {
		width: 280px;
		margin-right: 48px;
		padding: 8px 0;

		font-family: "AvenirNext-Regular";
		font-size: 14px;
		color: #000;

		border: 0;
		border-bottom: 1px solid #DADADA;

		background: transparent;

		&:focus {
			outline: none;
			border-bottom: 1px solid #000;
		}
	}

	&_theme_gray {
		padding: 40px 64px 50px;
		margin-bottom: 0;

		background: #F5F5F5;

		.subscribe-form {
			max-width: 1248px;
			margin: auto;
		}

		.subscribe-title {
			margin-bottom: 15px;

			font-family: 'lucida_granderegular', sans-serif;
			font-size: 26px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: .1px;

			color: #000000;

			text-align: center;
			text-transform: none;
		}

		.subscribe-subtitle {
			margin-bottom: 36px;

			font-family: 'lucida_granderegular', sans-serif;
			font-size: 12px;

			color: rgba(0, 0, 0, .5);

			text-align: center;
		}

		.radio-group {
			margin-right: 50px;
		}

		.radio {
			margin-left: 50px;

			&:first-child {
				margin-left: 0;
			}
		}

		.radio__label {
			font-size: 16px;
			color: #333333;
		}
	}
}
