.success-screen {
	position: relative;
	height: 100vh;

	background: #F6F6F6;

	&__icon {
		display: inline-block;
		margin-bottom: 21px;
	}

	&__wrap {
		position: absolute;
		left: 50%;
    	margin-left: -215px;
    	top: 50%;
    	transform: translateY(-50%);

    	width: 430px;
    
    	text-align: center;
	}

	&__text {
		font-family: AvenirNext-Regular;
		font-size: 26px;

		color: #333333;
		margin-bottom: 25px;

		&_s {
			font-size: 16px;
			color: #8C8C8C;
		}
	}
}