.tabs-menu {
    height: 40px;
    overflow: hidden;

    &__wrap {
        margin: 0;
        padding: 0 0 40px 0;

        list-style: none;

        white-space: nowrap;
        overflow: auto;
    }

    &__link {
        font-family: 'AvenirNext-Medium';
        font-size: 12px;
        line-height: 24px;
        font-weight: 600;

        letter-spacing: 1.5px;

        color: #8C8C8C;

        text-decoration: none;

        text-transform: uppercase;

        &:hover,
        &:active {
            text-decoration: none;

            color: #333;
        }

    }
       
   &__item {
        display: inline-block;
        vertical-align: middle;

        padding: 0;
        margin-left: 20px;

        border-bottom: 1px solid transparent;

        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &_selected {
            border-bottom: 1px solid #333;


            .tabs-menu__link {
                color: #333;
            }
        }
   }

}

.tabs-panes {
     &__pane {
        display: none;

        &_active {
            display: block
        }
    }    
}
