extends layout.pug

block content
	div.error
		div.error__title Ой!
		div.error__text Что-то пошло не так. Попробуйте вернуться:
		div.error__wrap
			ul.error__list
				li.error__list-item
					a.error__list-link(href="catalog.html") Каталог
				li.error__list-item
					a.error__list-link(href="") Помощь
				li.error__list-item
					a.error__list-link(href="#") Контакты
				li.error__list-item
					a.error__list-link(href="#") Карта сайта

			ul.error__list
				li.error__list-item
					a.error__list-link(href="catalog.html") О нас
				li.error__list-item
					a.error__list-link(href="") Сотрудничество
				li.error__list-item
					a.error__list-link(href="#") Пронто мода
				li.error__list-item
					a.error__list-link(href="#") Скидки
