extends layout.pug

block vars
	- 
		posts = [
			{ 
				src: 'news-1.jpg', 
				text: 'Сестры Олсен – наверное, самые частые героини американского стритстайла. И неудивительно: девушки выпускают одежду под собственным брендом и работают стилистами.', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: 'Катя Бабийчук, менеджер по маркетингу фитнес-браслетов Huawei, рассказала Allure, почему каждая современная девушка должна обзавестись этим...', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				text: 'Редактор Allure Ксения Крушинская встретилась с генеральным директором компании Salvador Dali Жаном-Пьером Гривори. Он рассказал о своем знакомстве с великим Дали.', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: 'Инновационные текстуры и эффектные оттенки — спасибо, Лиза Элдридж!', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				text: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: 'Инновационные текстуры и эффектные оттенки — спасибо, Лиза Элдридж!', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				text: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},

			{ 
				src: 'news-1.jpg', 
				text: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: 'Инновационные текстуры и эффектные оттенки — спасибо, Лиза Элдридж!', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				text: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				text: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			}
		 ]

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Новости

	div.container
		h3.title_size_l.title_center.title_gap_l Блог
		ul.posts-list
			for item in posts
				li.posts-list__item
					a.posts-list__link(href="#")
						img.posts-list__img(src= '../images/' + item.src)
						h4.posts-list__title= item.title
						div.posts-list__text= item.text
		div.pager
			a.pager__back(href="#") Назад
			div.pager__pages
				a.pager__item.pager__item_current(href="#") 1
				a.pager__item(href="#") 2
				a.pager__item(href="#") 3
				a.pager__item(href="#") 4
			a.pager__next(href="#") Вперед



