extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") БЛОГ
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") МОДА И КРАСОТА
		li.breadcrumbs__item 5 МОДНЫХ ФИШЕК ЭТОГО ГОДА

	div.container
		
		div.post
			h2.post__title.title_center.title_size_l.title_gap_l Take — надежный оптовый поставщик одежды из Италии
			div.post__wrap
				div.post__summary Созданию оптовой компании Take it предшествовал нелегкий, но бесценный опыт работы. Именно он позволил
					| досконально изучить рынок готовой одежды в Италии и достойно представить в Украине уникальный в своем роде 
					| итальянский товар – модную, качественную и доступную одежду Пронто Мода. 
				div.post__media
					img.post__img(src="../images/blog-img-2.jpg" alt="")

				div.post__subtitle Вчера

				p.post__text Все началось в далеком теперь 2003-м году с работы в качестве франчайзи популярных итальянских брендов, среди
					| которых были Terranova, Calliope и Rinascimento, принадлежащие крупной компании Teddy S.p.A. Сотрудничество оказалось
					| эффективным. А открытие магазина Rinascimento, перепрофилированного позже в Imperial, стало многообещающим стартом
					| в работе с одежногождой Пронто Мода. 
					| При всей своей доступности этот товар итальянских фабрик демонстрировал высокое качество и отвечал новейшим 
					| модным тенденциям, более полувека обеспечивая успех малому и среднему бизнесу на рынках одежного ритейла не
					| только в самой Италии, но и во Франции, Германии, Испании, Голландии, Греции, Болгарии. Перспективность 
					| развития сегмента  Pronto Moda  в Украине обнадеживала.
					| Несколько последующих лет были посвящены глубокому исследованию итальянского рынка готовой одежды, расширению 
					| и налаживанию контактов с надежными поставщиками – непосредственными производителями одежды Pronto Moda в Италии, 
					| завоеванию духом единомышленниковерия и уважения к себе, как к честным и ответственным партнерам. 

				p.post__text Накопленные опыт, знания и связи обусловили переход к новому этапу развития бизнеса – самостоятельной 
					| оптовой 

				div.post__media
					img.post__img(src="../images/blog-video.jpg" alt="Видео") 

				div.post__subtitle Сегодня

				p.post__text Главное достояние Take-it сегодня – это сплоченная команда специалистов разных профессий и возрастов, 
					| сильных духом единомышленников, которых не сломили трудности, часто следующие по пятам больших побед. Будь то 
					| менеджер, маркетолог, байер, стилист, фотограф, модель, программист, журналист или  продавец  –  все это люди,  
					| любящие свою работу,  и  преданные  общей цели компании.
					| А цель остается неизменной: строить и поддерживать долгосрочные отношения с  клиентами по 
					| принципу "выиграл-выиграл", помогая  партнерам развивать процветающий розничный бизнес на основе товара Пронто Мода 
					| из Италии. Руководство  компании философски относится к  механизму получения собственной прибыли. "Она есть и будет 
					| всегда, если вы усердны, методы вашей работы честны, а  стремления сводятся не к одной личной выгоде, а и к 
					| высоким целям". Сегодня это кредо компании, подсказанное опытом. 
					| Поддерживать ведущие позиции на рынке Take-it помогает главное преимущество  –  низкие цены. Качественные, 
					| красивые и исключительно модные модели одежды европейского производства компания предлагает по ценам,
					| предполагающим возможность  установки экономически привлекательной наценки  при минимальных накладных  расходах.  

				div.post__media
					figure.post__figure
						img.post__img(src="../images/blog-img-1.jpg" alt="")
						figcaption.post__img-caption Наш склад в Италии

				div.post__subtitle Завтра

				p.post__text В сфере красоты американки выступают за естественность и ухоженность: девушки ценят здоровые волосы, ровные 
					| зубы и чистую кожу. Поэтому косметикой пользуются по минимуму – только чтобы подчеркнуть естественную красоту. 
					| Однако некоторые подростки любят поэкспериментировать с внешностью и перекрасить волосы в яркий цвет или сделать 
					| необычный макияж.
