extends layout.pug

block vars
	-  
		products = [
			{ 
				src: 'product-1.jpg', 
				priceSale: '€3',
				priceOld: '€10',
				isSale: 'true',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой',
				colors: ['серый', 'синий', 'шоколадный'],
				sizes: ['XS', 'S', 'M', 'L']
			},
			{ 
				src: 'product-2.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника',
				colors: ['серый', 'синий', 'шоколадный'],
				sizes: ['XS', 'S', 'M', 'L']
			},
			{ 
				src: 'product-3.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-4.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			},
			{ 
				src: 'product-5.jpg', 
				price: '8,7',
				'low-price': '3',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой'
			},
			{ 
				src: 'product-6.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника'
			},
			{ 
				src: 'product-7.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-8.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			},
			{ 
				src: 'product-9.jpg', 
				price: '8,7',
				'low-price': '3',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой'
			},
			{ 
				src: 'product-10.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника'
			},
			{ 
				src: 'product-11.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-12.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			}
		]

block content
	ul.catalog-menu
		li.catalog-menu__item.catalog-menu__item_selected
			a.catalog-menu__link(href="#") ВСЕ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ВЕРХНЯЯ ОДЕЖДА
		li.catalog-menu__item 
			a.catalog-menu__link(href="#") ВЯЗАНАЯ ОДЕЖДА
		li.catalog-menu__item
			a.catalog-menu__link(href="#") БРЮКИ И ЮБКИ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ПЛАТЬЯ И КОМБИ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ФУТБОЛКИ И ТОПЫ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") СОРОЧКИ И БЛУЗЫ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ОБУВЬ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") АКСЕССУАРЫ
		
	div.catalog
		h3.title_size_m.title_center.catalog__title ЖЕНСКАЯ ОДЕЖДА ОПТОМ
		div.catalog__summary Это ваша возможность выбора из более чем 150-ти самых модных в этом сезоне, не похожих одна на другую 
			| моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют… 
			| моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют
			i.catalog__summary-icon.catalog__summary-icon_open
		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Аксессуары
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Брюки и юбки
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Верхняя одежда

		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Вязаная одежда
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Комплекты и твинсеты
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Обувь

		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Платья и комбинезоны
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Сорочки и блузы
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Футболки и топы

	.catalog-filters.clearfix
		.catalog-filters__left.left
			.search
				input.search__input(type="text" placeholder="ПОИСК")
				button.search__submit(type="submit")

			select.delivery-select
				option(value="all" selected="") Все поставки
				option(value="delivery-select") Не все поставки

		.catalog-filters__right.right
			.amount-list
				a.amount-list__item.amount-list__item_selected(href="#") 50
				a.amount-list__item(href="#") 100

			select.price-select
				option(value="low-price" selected="") По цене — сначала низкая
				option(value="hight-price") По цене — сначала высокая

	ul.products
		for item in products
			li.products-item(class=(typeof item.isSale === 'undefined' ? '' : 'products-item_sale'))
				div.products-item__wrap
					figure
						a.products-item__link
							img.products-item__img(src= '../images/' + item.src)
							if (item.colors || item.sizes)
								div.products-item__params
									if (item.colors)
										div.colors-title Цвета
										ul.colors
											for color in item.colors
												li= color
									if (item.sizes)
										div.colors-title Размеры
										ul.sizes
											for size in item.sizes
												li= size

						figcaption.products-item__info 
							div.products-item__name= item.title
							div.products-item__price
								if item.priceOld 
									span.products-item__price_old= item.priceOld
								if item.price 
									span.products-item__price_regular= item.price
								if item.priceSale 
									span.products-item__price_sale= item.priceSale

	div.pager
		a.pager__back(href="#") Назад
		div.pager__pages
			a.pager__item.pager__item_current(href="#") 1
			a.pager__item(href="#") 2
			a.pager__item(href="#") 3
			a.pager__item(href="#") 4
		a.pager__next(href="#") Вперед
