doctype html
html
  head
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description', content='take-it')
    meta(name='keywords', content='take-it')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet",href="../css/app.css")
    block title
      title Заказ принят
  body

    .success-screen
      .success-screen__wrap
          img.success-screen__icon(src="../images/checkout-success.png" alt="")
          .success-screen__text Спасибо! <br />
            | Ваш заказ #23536 уже в обработке.
          .success-screen__text.success-screen__text_s  Позвоним, чтобы подтвердить заказ, в течение часа. <br />
            | Вам на e-mail придет письмо с подтверждением заказа.
          .row
            a.btn.btn_theme_green.btn_size_m.btn_type_btn(href="#") На главную

    script(src="../../bower_components/jquery/dist/jquery.js")
    script(src="../js/app.js")
