extends layout.pug

block footer
	div.paranja

	script(src="../../bower_components/jquery/dist/jquery.js")
	script(src="../js/app.js")


block content
	div.checkout
		div.checkout__wrap
			div.checkout__panel
				div.checkout__panel-left
					a.btn.btn_type_link.btn-back(href="#") Вернуться в каталог
				div.checkout__panel-center
					h3.title.title_size_l Корзина

			div.checkout__list
				div.checkout__item
					div.checkout__img
						img(src="../images/checkout-1.jpg")

					div.checkout__info
						div.checkout__name Удлиненная футболка с разрезами
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_regular €15

					table.checkout__table
						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete
						tr
							td S-L, Бутылочный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Голубой
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Фанго
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

					div.checkout__item-total-price 
						span.checkout__item-number 4
						span &nbsp;×&nbsp;
						span.checkout__item-value €60

				div.checkout__item.checkout__item_sale
					div.checkout__img
						img(src="../images/checkout-1.jpg")

					div.checkout__info
						div.checkout__name Платье с завязками на талии и рукавах
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_old €15
						div.checkout__price_sale €8.5

					table.checkout__table
						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete


					div.checkout__item-total-price 
						span.checkout__item-number 4
						span &nbsp;×&nbsp;
						span.checkout__item-value €17

				div.checkout__item
					div.checkout__img
						img(src="../images/checkout-3.jpg")

					div.checkout__info
						div.checkout__name Юбка А-силуэта из натурального шелка
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_regular €22.5

					table.checkout__table
						tr
							td S-L, Морская волна
							td 
								input.checkout__input(value=8 type="number")
							td
								span.checkout__item-delete

					div.checkout__item-total-price 
						span.checkout__item-number 8 
						span &nbsp;×&nbsp; 
						span.checkout__item-value €180

			div.checkout__panel
				div.checkout__panel-left
					a.btn.btn_type_link.btn-back(href="#") Вернуться в каталог
				div.checkout__panel-center
					div.checkout__summary
						span Итого
						div.checkout__total-price €257
						button.checkout__submit.btn.btn_theme_green.btn_size_m.btn_type_btn.btn_size_full(type=submit) ОФОРМИТЬ ЗАКАЗ
						div.checkout__delivery Стоимость доставки будет высчитана на следующем шаге.

					
				div.checkout__panel-right
					a.btn.btn_type_link.btn-delete(href="#") Удалить все
