doctype html
html
	block vars
	head
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		meta(name='description', content='take-it')
		meta(name='keywords', content='take-it')
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
		meta(charset='utf-8')
		block styles
			link(rel="stylesheet",href="../css/app.css")
		block title
			title Checkout

	body
		header.header-plain
			.header-plain__row
				a.back-to-bucket(href="#") Корзина
			h2.checkout-title Оформить заказ на 2586 грн
		
		div.checkout-form
			form
				div.form__wrap
					div.form__row
						input.form__input(type="text" placeholder="Имя" required id="name" name="name" value="Александра") 
						label.form__label(for="name") Имя
					div.form__row
						input.form__input(type="text" placeholder="Фамилия" required id="surname" name="surname" value="Константинопольская") 
						label.form__label(for="surname") Фамилия
					div.form__row
						input.form__input(type="text" placeholder="Телефон" required id="phone" name="phone" value="0930552733") 
						label.form__label(for="phone") Телефон
					div.delivery
						div.form__title Доставка
						div.radio-group
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="delivery-1" name="delivery")
										span.radio__circle
									label.radio__label(for="delivery-1") Cамовывоз со склада
										span Киев, м. Позняки, ул. Руденко 6А
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="delivery-2" name="delivery")
										span.radio__circle
									label.radio__label(for="delivery-2") Самовывоз из магазина
										span Киев, м. Позняки, ТЦ Паралель, ул. Мишуги 2
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="novaposhta" name="delivery" value="novaposhta")
										span.radio__circle
									label.radio__label(for="novaposhta") Cамовывоз с отделения Новой Почты
										span + 30 грн 

								div.post-info
									div.form__row.form__row_empty
										input.form__input(type="text" placeholder="Укажите № отделения" required id="post-number" name="post-number" ) 
										label.form__label(for="post-number") Укажите № отделения
									a.post-info__button(href="#") Найти отделение  
										span novaposhta.ua

							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="delivery-4" name="delivery")
										span.radio__circle
									label.radio__label(for="delivery-4") Самовывоз с пункта выдачи Міст Експрес
										span + 35 грн 
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="delivery-5" name="delivery")
										span.radio__circle
									label.radio__label(for="delivery-5") Курьером Новой Почты до двери
										span + 40 грн 
					div.checkout-payment
						div.form__title Оплата
						div.radio-group
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="payment-1" name="payment")
										span.radio__circle
									label.radio__label(for="payment-1") Переводом на карту Приватбанка
							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="payment-2" name="payment")
										span.radio__circle
									label.radio__label(for="payment-2") Наложенным платежом

							div.radio-item
								div.radio.radio_theme_green
									span.radio__box
										input.radio__input(type="radio" id="payment-3" name="payment")
										span.radio__circle
									label.radio__label(for="payment-3") Банковским переводом

					div.checkout-comments
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Пожелания к заказу" required id="comments" name="comments" ) 
							label.form__label(for="comments") Пожелания к заказу
				
				div.bill-wrap
					table.bill
						tr
							td Доставка
							td 30 грн
						tr
							td Заказ
							td 2556 грн
						tr.bill__total
							td Итого
							td 2586 грн
				button.form__submit.checkout-submit(type="submit") Оформить заказ на 2586 грн

		script(src="../components/jquery/dist/jquery.js")
		script(src="../js/app.js")
