extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Контакты

	section.container
		div.col__wrap
			div.col_2
				h3.title Контакты склада
				div.map
					img.map__img(src="../images/map.png" alt="")

				div.col__wrap
					div.col_4
						div.address
							div.address__line
								i.address__metro-icon
								| Позняки 1
							div.address__line
								| ул. Ларисы Руденко 6а, офис 819
							div.address__line
								| Киев, Украина

						div.working-hours
							| Работаем по будням с 9 до 18.
							| Предупредите о визите заранее.

					div.col_4
						ul.contacts
							li.contacts__item
								span.contacts__name Городской
								span.contacts__value (044) 593-84-49
							li.contacts__item
								span.contacts__name МТС
								span.contacts__value (050) 351-21-23
							li.contacts__item
								span.contacts__name life:)
								span.contacts__value (063) 262-84-08
							li.contacts__item
								span.contacts__name Киевстар
								span.contacts__value (067) 402-81-48
							li.contacts__item
								span.contacts__name Email
								span.contacts__value info@take.moda


			div.col_2
				h3.title Контакты магазина
				div.map
					img.map__img(src="../images/map.png" alt="")

				div.col__wrap
					div.col_4
						div.address
							div.address__line
								i.address__metro-icon
								| Позняки 1
							div.address__line
								| ул. Ларисы Руденко 6а, офис 819
							div.address__line
								| Киев, Украина

						div.working-hours
							| Работаем без выходных с 10 до 22.

					div.col_4
						ul.contacts
							li.contacts__item
								span.contacts__name Городской
								span.contacts__value (044) 332-87-52
							li.contacts__item
								span.contacts__name МТС
								span.contacts__value (050) 469-83-93
							
							li.contacts__item.contacts__item-email
								span.contacts__name Email
								span.contacts__value info@emozioni.com.ua

		div.contact-form
			h3.title.title_size_l.title_gap_xs Задать вопрос
			div.contact-form__text Ответим в течение одного рабочего дня.

			form.contact-form__form(action="#")
				div.contact-form__row
					input.contact-form__input(type='text' name='email' placeholder='Email' required)
					input.contact-form__input(type='text' name='tel' placeholder='Телефон (по желанию)')

				div.contact-form__row
					textarea.contact-form__textarea(placeholder="Ваш вопрос")

				div.contact-form__row
					button.contact-form__submit(type="submit" disabled) Отправить
