extends layout.pug

block header__right
	div.country
	a.user-info__profile(href="#") Профиль
	a.user-info__basket(href="#") Корзина
		span.user-info__basket-number 0

block menu-panel-additional
		a.links-list__link(href="#") Профиль

block content
