
extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Помощь

	section.container
			div.container__wrap
				h2.title.title_help Помощь
				div.container__column
					div.faq
						h3.faq__title РЕГИСТРАЦИЯ И РАССЫЛКА
						ul.faq__list
							li.faq__item
								div.faq__question Зачем нужна регистрация на сайте?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Когда мне откроют доступ к ценам?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Зачем мне получать вашу рассылку?
								div.faq__answer Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в 		| месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые 
									| обычно разбирают уже в первые часы после поставки.
							
							li.faq__item
								div.faq__question Как подписаться на email или смс рассылку?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Как удалить свой адрес или телефон из рассылки?
								div.faq__answer Test

					div.faq
						h3.faq__title ДОСТАВКА
						ul.faq__list
							li.faq__item
								div.faq__question Сколько времени у вас занимает подготовка заказа к отгрузке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question За чей счет производится отгрузка товара?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?
								div.faq__answer Test.
							
							li.faq__item
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?
								div.faq__answer Test

					div.faq
						h3.faq__title ОПЛАТА
						ul.faq__list
							li.faq__item
								div.faq__question Сколько времени у вас занимает подготовка заказа к отгрузке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question За чей счет производится отгрузка товара?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?
								div.faq__answer Test.
							
							li.faq__item
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?
								div.faq__answer Test

				div.container__column
					div.faq
						h3.faq__title ТОВАР
						ul.faq__list
							li.faq__item
								div.faq__question Как начать с вами сотрудничество по оптовой закупке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Какая минимальная оптовая партия?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Можно ли сделать подсортировку меньше минимальной партии?
								div.faq__answer Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые обычно разбирают уже в первые часы после поставки.
							
							li.faq__item
								div.faq__question Можно ли купить в розницу по оптовой цене?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Какие условия сотрудничества для совместных покупок?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие условия сотрудничества для интернет-магазинов?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие часы работы вашего оптового склада?
								div.faq__answer Test

							li.faq__item
								div.faq__question Есть ли у вас шоурум и можно ли отобрать товар оптом лично?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие у вас есть оптовые скидки?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие у вас есть розничные скидки?
								div.faq__answer Test

					div.faq
						h3.faq__title ТОВАР
						ul.faq__list
							li.faq__item
								div.faq__question В течение какого периода с момента заказа необходимо оплатить товар?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Даете ли вы товар на реализацию?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Возможно ли предоставление отсрочки платежа?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие есть способы оплаты товара из Украины?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие есть способы оплаты товара из России и стран СНГ?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие гарантии, что вы отгрузите мне товар после получения оплаты?
								div.faq__answer Test.

			aside.other-question
				h2.title.title_gap_xl Остались вопросы?
				ul.contacts
					li.contacts__item
						span.contacts__name Городской
						span.contacts__value (044) 593-84-49
					li.contacts__item
						span.contacts__name МТС
						span.contacts__value (050) 351-21-23
					li.contacts__item
						span.contacts__name life:)
						span.contacts__value (063) 262-84-08
					li.contacts__item
						span.contacts__name Киевстар
						span.contacts__value (067) 402-81-48
					li.contacts__item
						span.contacts__name Email
						span.contacts__value info@take.moda
				a.other-question__btn(href="#") Задать вопроc
