
extends layout.pug

block content
	div.promo
		img.promo__img(src="../images/promo.jpg" alt="")
		a.promo__btn.btn.btn_type_btn.btn_theme_green.btn_spacing_l  Новая поставка

	div.promo2
		div.promo2__item В наличии 942 моделей одежды Пронто мода
		div.promo2__item.promo2__item_main Итальянская женская одежда оптом и в розницу
		div.promo2__item Товар находится в Киеве, на сайте – реальные остатки

	div.supply
		div.supply__title Поставка 23 мая
		div.supply__list
			a.supply__item(href="#")
				img(src="../images/supply-1.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-2.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-3.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-4.jpg")
			
		div.supply__text Специализируемся на итальянской Пронто моде. Иногда привозим Китай, 
			<br />
			| сделанный специально для Италии. Никаких стоков, только актуальные модели текущего сезона преимущественно
			<br />
			| из натуральных тканей. В 
			| нашем каталоге реальные остатки по каждой модели в разрезе цветов и размеров.
		div.supply__btn
			a.btn.btn_type_btn.btn_theme_green.btn_size_m.btn_spacing_m(href="catalog.html") Перейти в каталог

	div.subscribe.subscribe_theme_gray
		h4.subscribe-title Каждый четверг новая поставка из Италии
		div.subscribe-subtitle Пару раз в месяц будем присылать письмо или смс о новой поставке. 
		form.subscribe-form(action="")
			input.subscribe__input.subscribe__email(type="text" placeholder="Email" required="yes" name="email")
			input.subscribe__input(type="text" placeholder="Мобильный (необязательно)" name='tel')

			div.radio-group
				div.radio.radio_theme_green
					span.radio__box
						input.radio__input(type="radio" id="retail-radio" name="subscribe-radio")
						span.radio__circle
					label.radio__label(for="retail-radio") Опт

				div.radio.radio_theme_green
					span.radio__box
						input.radio__input(type="radio" id="wholesale-radio" name="subscribe-radio" )
						span.radio__circle
					label.radio__label(for="wholesale-radio") Розница

			button.subscribe-button(type="submit" disabled) Подписаться

	div.info
		div.info__list
			div.info__item 
				h4.info__title Заказ
				div.info__text Товар можно заказать как онлайн, так и отобрать прямо в нашем магазине.
			div.info__item
				h4.info__title Доставка
				div.info__text Доставка по Украине за 1-2 дня,
					br 
					| в Россию за 10-15 дней,
					br
					| в Казахстан за 15-20 дней
			div.info__item
				h4.info__title Оплата
				div.info__text 100% предоплата, на реализацию и отсрочку не работаем
			div.info__item
				h4.info__title Гарантии
				div.info__text Обменяем брак без проблем!
		div.info__btn
			a.btn.btn_type_btn.btn_theme_white(href="help.html") ВОПРОСЫ И ОТВЕТЫ


	div.resently-showcase
		h4.resently-showcase__title Недавно просмотренные
		div.resently-showcase__wrap
			div.resently-showcase__list
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
