doctype html
html
  head
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description', content='take-it')
    meta(name='keywords', content='take-it')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet",href="../css/app.css")
    block title
      title Take-it

  body
    block header
      include inc/header-plain
    block content

    block footer
      script(src="../../components/jquery/dist/jquery.js")
      script(src="../components/jquery-selectric/public/jquery.selectric.min.js")
      script(src="../js/app.js")
