extends layout-signin.pug

block header-title
	| Введите новый пароль

block header-left
	div.header-plain__left
		a.btn.btn_type_link.btn-back(href="#") Назад ко входу

block header-right

block content
	div.sign-in
		div.sign-in__wrap
			form.form.form_empty
				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Новый пароль" required id="password" name="password") 
					label.form__label(for="password") Новый пароль
					span.icon-eye

				button.form__submit(type="submit") Сохранить пароль
	
