extends layout.pug

block vars
	- 
		news = [
			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},

			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},

			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-1.jpg', 
				date: '11.02.2016', 
				title: '11-я поставка весна-лето 2016'
			},
			{ 
				src: 'news-2.jpg', 
				date: '11.02.2016', 
				title: '12-я поставка весна-лето 2016'
			}
		 ]

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Новости

	div.container
		h3.title_size_l.title_center Новости
		ul.posts-list
			for item in news
				li.posts-list__item
					a.posts-list__link(href="#")
						img.posts-list__img(src= '../images/' + item.src)
						div.posts-list__time= item.date
						h4.posts-list__title= item.title
		div.pager
			a.pager__back(href="#") Назад
			div.pager__pages
				a.pager__item.pager__item_current(href="#") 1
				a.pager__item(href="#") 2
				a.pager__item(href="#") 3
				a.pager__item(href="#") 4
			a.pager__next(href="#") Вперед



