extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") БЛОГ
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") МОДА И КРАСОТА
		li.breadcrumbs__item 5 МОДНЫХ ФИШЕК ЭТОГО ГОДА

	div.container
		div.post
			div.post__wrap
				h2.post__title.title_cetner.title_size_l.title_gap_s Take — надежный оптовый поставщик одежды из Италии
				div.post__info
					div.post__info-item Мода и красота  
					div.post__info-item 13 октября 2015

			div.post__banner
				img.post__banner-img(src="../images/news-banner.jpg" alt="")

			div.post__wrap

				p.post__text Сестры Олсен – наверное, самые частые героини американского стритстайла. И неудивительно: девушки выпускают 
					| одежду под собственным брендом и работают стилистами. Их стиль можно скорее назвать европейским: объемные силуэты, 
					| приглушенные цвета и длина до щиколоток создают комфортные и стильные образы в духе тех же практичных немок или 
					| шведок. Ким Кардашьян является классическим воплощением нового американского стиля с его вычурностью, нарочитой 
					| сексуальностью и даже некоторой пошлостью: не зря ее игнорируют некоторые дизайнеры и другие представители мира 
					| моды. Звезда обожает обтягивающие юбки-карандаши, кроп-топы и все полупрозрачное (с ее-то фигурой).
					| Оливию Палермо называют иконой стиля за ее умение составлять безупречные образы. Светская тусовщица хоть и следит 
					| за модой, но также любит лаконичную одежду, простые фасоны и приглушенные цвета.

				div.post__quote По статистике, около 80 процентов американок предпочитают одежду национальных маро по одной простой 
					| причине - она дешевле.

				div.post__subtitle 5 новых правил

				ol.post__list
					li.post__text Одна из горячих тенденций холодной зимы – это крупные и многослойные модные украшения, надетые поверх 
						| верхней одежды, которой может быть как жакет, так и пальто.
					li.post__text  Многоярусные бусы и ожерелья дополняют не только с элегантные платья и блузы, но и со свитера с 
						| высоким воротником-хомут.
					li.post__text Браслеты можно носить как по одному, так и по два, и даже по три. Допускается эклектика цветовой 
						| палитры и даже стиля при условии единой концепции дизайнерского исполнения. Например, это могут быть наборные 
						| браслеты, детали в которых абсолютно идентичны, но отличны по цвету и материалу –одна модель выполнена из 
						| металла, другая – из стекла.
					li.post__text Перчатки и сумка могут играть роль ярких «пятен»-акцентов, то есть быть такого цвета, родственных 
						| которому в образе нет.
					li.post__text Сумка и обувь одного цвета  – не пережитки прошлого, а самое что ни есть актуальное настоящее.


				div.post__quote 
					figure.post__figure
						div «Куда нужно наносить духи? — как-то спросила меня молодая женщина. Всюду, куда бы вам хотелось, чтобы 
							| вас поцеловал мужчина, — сказала я.»
						figcaption.post__img-caption Коко Шанель

				div.post__subtitle Главные требования

				p.post__text Главное требование – присутствие не менее 2 цветов в моделях «верха» и «низа»
					| в комплекте.

				ul.post__list
					li.post__text Одежду из легких тканей очень модно комбинировать с вязаными вещами, которые при этом могут быть как 
						| однотонными.
					li.post__text  Блочной расцветки, быть украшенными паттернами или крупными жаккардовыми рисунками.
