extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") КАТАЛОГ
		li.breadcrumbs__item 
			a.breadcrumbs__link(href="#") ФУТБОЛКИ И ТОПЫ
		li.breadcrumbs__item КОРОТКАЯ ФУТБОЛКА ИЗ ТЕКСТУРНОЙ ТКАНИ С КРУЖЕВНОЙ КАЙМОЙ

	div.container.container_full.container_relative
		div.product-slider
			div.product-slider__preview
				img.product-slider__preview-img(src="../images/preview-1.jpg")
				img.product-slider__preview-img(src="../images/preview-2.jpg")
				img.product-slider__preview-img(src="../images/preview-3.jpg")
				img.product-slider__preview-img(src="../images/preview-4.jpg")
				img.product-slider__preview-img(src="../images/preview-5.jpg")
			div.product-slider__image
				.product-slider__preview-big-wrap
					.product-slider__preview-color-label Красный
					img.product-slider__preview-big-img(src="../images/preview-big.jpg")
				.product-slider__preview-big-wrap
					.product-slider__preview-color-label Красный
					img.product-slider__preview-big-img(src="../images/preview-big-2.jpg")

		div.product-details.product-details_fixed
			div.product-details__id АРТИКУЛ 151165
			div.product-details__name Короткая футболка из текстурной ткани с кружевной каймой
			div.product-details__price €
				span.product-details__price-number 8,7

			form.product-details__params(action="#")
				table.product-details__table
					tr
						th.product-details__table-name Цвет/ Размер
						th S
						th M
						th L
					tr 
						td Красный
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
					tr 
						td Бутылочный
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
					tr 
						td Голубой
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")

					tr 
						td Фанго
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
			div.product-details__row
				button.checkout-btn(type="submit") 
					span.checkout-btn-text ДОБАВИТЬ В КОРЗИНУ
					span.checkout-btn-wrap
						span.checkout-btn-vol 8
						span.checkout-btn-price €69.6
						span.checkout-btn-small-text В Корзину 


				span.product-details__delivery-info
					i.product-details__delivery-icon
					| Бесплатная доставка от €300

			div.tabs-menu
				ul.tabs-menu__wrap
					li.tabs-menu__item.tabs-menu__item_selected(id="product-details-1")
						span.tabs-menu__link Описание
					li.tabs-menu__item(id="product-details-2")
						span.tabs-menu__link Доставка
					li.tabs-menu__item(id="product-details-3")
						span.tabs-menu__link Возвраты
			div.tabs-panes
				div.tabs-panes__pane.tabs-panes__pane_active(aria-labelledby="product-details-1")
					p Свободная туника с ассиметричным низом, круглым вырезом горловины и принтом «круги».
					ul
						li 95% хлопок, 5% эластан
						li Сделано в Италии
				div.tabs-panes__pane(aria-labelledby="product-details-2")
					p что-то там
				div.tabs-panes__pane(aria-labelledby="product-details-3")
					p что-то про Возвраты
			a.product-details__sizes(href="#") ТАБЛИЦА РАЗМЕРОВ
					
