extends layout-signin.pug

block header-title
	| Восстановление пароля

block content
	div.sign-in
		div.sign-in__wrap
			form.form.form_empty
				div.form__row.form__row_empty
					input.form__input(type="email" placeholder="Email" required id="email" name="email") 
					label.form__label(for="email") Email

				button.form__submit(type="submit") Восстановить пароль