doctype html
html
  head
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description', content='take-it')
    meta(name='keywords', content='take-it')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet",href="../css/app.css")
    block title
      title Восстановление пароля

  body

    div.success-screen
      div.success-screen__wrap
          img.success-screen__icon(src="../images/key.png" alt="")
          div.success-screen__text Ссылка на восстановление пароля отправлена вам на почту.

    script(src="../../bower_components/jquery/dist/jquery.js")
    script(src="../js/app.js")
