extends layout-signin.pug

block header
	header.header-plain.header-plain_full
		div.header-plain__row
				div.header-plain__left
					a.btn.btn_type_link.btn-back(href="#") Вернуться
					
				a.logo(href="#")
					img(alt="" src="../images/logo_black.svg")
						
				div.header-plain__right
					div.registration__text Зарегистированы?
					a.btn.btn_type_btn.btn_size_s.btn-login(href="#") Вход

		div.header-plain__row
			div.header-plain__title 
				| Регистрация

		div.header-plain__row
			div.customers.radio-group
				div.customers__row
					div.customer
						div.radio.radio_theme_green
							span.radio__box
								input.radio__input(type="radio" id="retail-customer" name="customer-radio")
								span.radio__circle.radio__circle_theme_green
							label.radio__label(for="retail-customer")  Я оптовый покупатель
								span Владельцы розничных магазинов

				div.customers__row
					div.customer
						div.radio.radio_theme_green
							span.radio__box
								input.radio__input(type="radio" id="wholesale-customer" name="customer-radio")
								span.radio__circle
							label.radio__label(for="wholesale-customer")  Я оптовый покупатель
								span Владельцы интернет-магазинов, индивидуальные и совместные покупки

block content
	div.registration-form.registration-form_hidden
		form.form.form_empty
				div.form__row-wrap
					div.form__row.form__row_empty
						input.form__input(type="text" placeholder="Имя" required id="name" name="name") 
						label.form__label(for="name") Имя

					div.form__row.form__row_empty
						input.form__input(type="email" placeholder="Email" required id="email" name="email") 
						label.form__label(for="email") Email

				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Password" required id="password" name="password") 
					label.form__label(for="password") Password

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Телефон" id="tel" name="tel") 
					label.form__label(for="tel") Телефон

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Страна" id="country") 
					label.form__label(for="country") Страна
				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Город" id="city") 
					label.form__label(for="country") Город

				div.form__subtitle О вашем розничном магазине

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Название" id="shop-name" name="shop-name") 
					label.form__label(for="shop-name") Название

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Адрес" id="address" name="address") 
					label.form__label(for="address") Адрес

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Площадь" id="size" name="size") 
					label.form__label(for="size") Площадь

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Сайт, если есть" id="site" name="site") 
					label.form__label(for="site") Сайт, если есть

				div.add-address
					span.btn.add-address__btn.btn_size_full Добавить адрес доставки

					div.add-address__box.add-address__box_hidden
						div.add-address__title-row
							div.form__subtitle Адрес доставки
							span.add-address__close Не добавлять
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Адрес: улица, дом, офис/склад/квартира" id="country") 
							label.form__label(for="country") Адрес: улица, дом, офис/склад/квартира
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Почтовый индекс" id="country") 
							label.form__label(for="country") Почтовый индекс
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Примечания к адресу, если есть" id="country") 
							label.form__label(for="country") Примечания к адресу, если есть

				div.form__subscription
					p Поставки каждую неделю
					p.gray Узнавайте о новинках в каталоге первыми:

					div.form__subscription-row
						div.checkbox
							span.checkbox__box
								input.checkbox__input(type="checkbox" id="subscription-1") 
								i.checkbox__tick
							label.checkbox__label(for="subscription-1") По имейлу
						div.checkbox
							span.checkbox__box
								input.checkbox__input(type="checkbox" id="subscription-2") 
								i.checkbox__tick
							label.checkbox__label(for="subscription-2") По смс


				button.form__submit(type="submit") Зарегистрироваться 
