extends layout-signin.pug

block header
	header.header-plain.header-plain_big
		div.header-plain__row
				div.header-plain__left
					a.btn.btn_type_link.btn-back(href="#") Вернуться
				a.logo(href="#")
					img(alt="" src="../images/logo_black.svg")
				div.header-plain__right
					div.registration__text У вас нет аккаунта?
					a.btn.btn_type_btn.btn_size_s.btn-register(href="#") Регистрация

		div.header-plain__row.header-plain__row_gap_s
			div.header-plain__title 
					| Войти на сайт

block content
	div.sign-in.sign-in_gap_l
		div.sign-in__wrap
			form.form.form_empty.form_gap_s
				div.form__row.form__row_empty
					input.form__input(type="email" placeholder="Email" id="email" name="email" required)
					label.form__label(for="email") Email
				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Пароль" id="password" name="password" required)
					label.form__label(for="password") Password
					span.icon-eye

				button.form__submit(type="submit") Войти

			div.recovery-box
				span.recovery-box__text Забыли пароль
				a.recovery-box__btn(href="#") Изменить пароль
